.AboutUsTrustpilotSection {
    background: #fff;
    
    .descriptionText {
        width: 60%;
        padding-block: 0vw 2vw;
        font-weight: 900;
        // font-size: calc(2.5vw + 1px);
        font-size: 2.8vw ;
        line-height: 1.3;
        letter-spacing: 1px;
        
        @media (max-width: 768px) {
            // display: none;
            width: 90%;
            font-size: 3.8vw;
            padding-block: 0vw;
        }
        @media (min-width: 1320px) {
            padding-block: 0vw 26.4px;
            font-size: 36.96px;
        }
    }
}
