.EighthDescriptionSection4 {
    background: #e6f0f9;
    
    .descriptionText {
        width: 60%;
        padding-block: 3vw;
        font-weight: 900;
        // font-size: calc(2.5vw + 1px);
        font-size: 2.40vw ;
        line-height: 1.3;
        letter-spacing: 1px;
        
        @media (max-width: 768px) {
            display: none;
            width: 90%;
            font-size: 3.6vw;
            padding-block: 10vw;
        }
        @media (min-width: 1320px) {
            padding-block: 39.6px;
            font-size: 31.68px;
        }
    }

}
