@import '../../variables.scss';

.NinthThanksForChoosingSolarShopSection {
    @media (max-width: 768px) {
        display: none;
    }

    .backgroundImage {
        // aspect-ratio: 1.5;
        aspect-ratio: 2;
        background-image: url("/images/pages/about-us/thank-you-for-choosing-solarshop.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @media (max-width: 768px) {
            // aspect-ratio: 1.17;
            // margin-bottom: 0vw;
            // border-radius: 8vw;
        }
    }

    .DialogBoxContainer {
        // padding-top: 15vw;
        padding-top: 9vw;
        padding-left: 9vw;
        // padding-right: 46.8vw;
        padding-right: 54vw;

        @media (min-width: 1320px) {
            padding-top: 118.8px;
            padding-left: 118.8px;
            padding-right: 712.8px;
        }
    }

    .thankYouDialogBox {
        position: relative;
        background-color: #e6f0f9;
        border-radius: 4vw;
        color: #000;
        padding: 2.3vw 3.5vw;

        @media (min-width: 1320px) {
            border-radius: 52.8px;
            padding: 30.36px 46.2px;
        }
    }

    .text1 {
        font-weight: 900;
        font-size: calc( 0.8 * 2.85vw ) ;
        line-height: 1.3;
        letter-spacing: 1px;

        @media (min-width: 1320px) {
            font-size: 30px;
        }
    }

    .text2 {
        font-family: "Montserrat";
        // font-weight: 500;
        font-size: calc( 0.8 * 2.8vw ) ;
        line-height: 1.3;
        letter-spacing: 1px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        // text-underline-offset: 14px;
        text-underline-offset: 0.8vw;

        @media (min-width: 1320px) {
            font-size: 29.568px;
            text-underline-offset: 10.56px;
        }
    }

    .text3 {
        // font-weight: 900;
        font-size: calc( 0.8 * 2.35vw );
        line-height: 1.5;
        letter-spacing: 1px;
        padding-block: calc( 0.8 * 3vw ) calc( 0.8 * 8vw );
        
        @media (min-width: 1320px) {
            font-size: 24.816px;
            padding-block: 31.68px 84.48px;
        }
    }

    .learnmorebtn {
        background-color: rgb(255 255 255);
        border-radius: 50px;
        box-shadow: inset 0 0 0 0 #fff;
        border: 1px solid #fff;
        // width: 160px;
        padding: 0.6vw calc( 0.8 * 4.4vw );
        font-size: calc( 0.8 * 2vw );
        font-weight: bold;
        font-family: "Roboto";
        color: #000;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        transition: 0.4s ease-in;
        z-index: 0;
        // bottom: 2.1vw;
        bottom: 0vw;
      
        // @media (max-width: 390px) {
        //   width: 120px;
        //   font-size: 14px;
        //   padding: 5px 0px 5px 20px;
        // }
        @media (min-width: 1320px) {
            padding: 7.92px 46.464;
            font-size: 21.12px;
        }
      }
      
      .learnmorebtn:hover {
        .learnmorebtnshadow {
          transform: translateY(-100%);
        }
      
        color: $primary-bg-text-color;
        background-color: $primary-color;
      }
      
      .learnmorebtnshadow {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all;
        transition-duration: 0.4s;
        z-index: -1;
      }
}
