.splideCOntaier {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: inherit;

    .primaryProductImageSpliderPopup {
        position: absolute;
        top: 118px;
        left: calc(50vw - 180px);
        width: 360px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 15;

        .spliderSection {
            // width: 360px;
            padding-inline: 28px;

            @media (max-width: 576px) {
                padding-inline: 24px;
            }

            button:nth-of-type(1) {
                left: 0em;
                background: transparent;

                svg {
                    display: none;
                }

                width: 32px;
                height: 32px;

                background-image: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: none;

                @media (max-width: 576px) {
                    width: 24px;
                    height: 24px;
                }
            }

            button:nth-of-type(2) {
                right: 0em;
                background: transparent;

                svg {
                    display: none;
                }

                width: 32px;
                height: 32px;

                background-image: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: none;

                @media (max-width: 576px) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}