.requestHelpPopup {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px);
    z-index: 2500;

    .transparentContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #aaa;
        overflow: auto;
    }

    .dialogBox {
        background-color: #fff; 
        // width: 25vw;
        max-width: 390px;
        margin-inline: 12px;
        border: 3px solid #0A1E34;
        border-radius: 16px;
    }

    .closeButton {
        display: flex;
        margin-left: auto;
        margin-top: 12px;
        margin-right: 12px;
        color: #fff;
        background-color: #0A1E34;
        width: fit-content;
        border-radius: 6px;
        cursor: pointer;
        svg {
            height: 20px;
            width: 20px;
            fill: #fff;
        }
    }

    .contentSection {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 36px;
        margin-top: 0px;
        @media (max-width: 400px) {
            margin: 30px;
            margin-top: 0px;
        }
    }

    .needHelp {
        color: #000;
        // font-size: 50px;
        font-size: 45px;
        font-weight: 700;
        line-height: 1;
    }
    
    .descriptionText1 {
        color: #666;
        // font-size: 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
    }

    .descriptionText2 {
        color: #000;
        // font-size: 18px;
        font-size: 16px;
        line-height: 1.2;
    }
     
    .descriptionText3 {
        color: #000;
        // font-size: 22px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 8px;

    }

    .descriptionText4 {
        color: #000;
        // font-size: 30px;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 1px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
    }

    .dialogBoxImg {
        // width: 100px;
        width: 80px;
        height: auto;
    }

    .buttonSection {
        background-color: #0A1E34;
        color: #fff;
        border-radius: 8px;
        // padding-block: 20px;
        padding-block: 12px;

        button,
        .buttonClass {
            color: #fff;
        }

        .descriptionText2,
        .descriptionText4 {
            color: #fff;
        }

        a {
            color: #fff;
        }
    }

}
