.mainContainer{
    background: #e6f0f9;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 40px;

    justify-content: center;
    gap: 10px;
    .titleDiv{
        margin: 0 auto;

        p{
            font-size: 40px;
            font-family: "Roboto";
            text-align: center;
            padding: 0;
            margin: 0;
            font-weight: 500;
            @media (max-width: 620px) {
                font-size: 30px;
              }
              
              @media (max-width: 550px) {
                font-size: 24px;
                margin-bottom: 0px !important;
              }
        }

    }
    .gridDiv{
        padding: 10px;
        gap: 2px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(0,1fr));
        @media (max-width:1024px) {
        grid-template-columns: repeat(5,minmax(0,1fr));
        row-gap: 10px;
        column-gap: 10px;
            
        }
        width: 100%;
        align-items: center;
    }
}