.firstBannerDiv {
  width: 100%;
  // background: linear-gradient(to top right, hsl(36, 100%, 70%), hsl(184, 45%, 90%), hsl(230 80% 49% / 1));
  transition: background 0.3s ease;
  display: flex;
  justify-content: flex-end;
  padding: 20px 100px;
  position: relative;
  overflow: hidden;
  z-index: 4;

  @media (max-width: 1024px) {
    padding: 20px;
  }

  @media (max-width: 768px) {
    height: 500px;
    .firstBannerImg {
      display: none !important;
    }
    
    padding: 20px 0px;
  }
  @media (max-width: 768px) {
    height: 400px;
  }

  

  .leftToRight {
    animation: leftoright 0.8s;
    transition: all 500ms ease-out;
    z-index: 0;
    margin-right: 100px;
    width: 70%;

    @media (max-width: 1024px) {
      margin-right: 0px;
    }
  }

  .firstBannerImg {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: relative;
  
    @media (max-width: 1024px) {
      width: 700px;
    }
  }

  .animatedHeading {
    transition: opacity 500ms ease-out, transform 500ms ease-out;

    &.hidden {
      opacity: 0;
      transform: translateY(20px);
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .desktopView {
    display: block;
  }
}
.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-image: linear-gradient(#0A1E34, #0F3B59);
  background-repeat: no-repeat;
  filter: blur(60px);
  // transition: transform 2s ease-out, filter 0.3s ease-out, background-image 0.3s ease-out;
  // transition: transform 0.5s ease-out, filter 0.3s ease-out, background-image 0.3s ease-out;
  transition: transform 500ms ease-out, filter 300ms ease-out, background-image 300ms ease-out;
  -webkit-transition: transform 500ms ease-out, filter 300ms ease-out, background-image 300ms ease-out;
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  
  // transition-delay: 0ms;
  // -webkit-transition-delay: 0ms;

  background-size: 200% 200%;
  background-position: center;
  background-blend-mode: screen;

  @media (max-width: 768px) {
    width: 400px;
    height: 400px;
  }

  @media (max-width: 430px) {
    width: 200px;
    height: 200px;
  }
}

.firstBannerHoverglow {
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -2;
  overflow: hidden;
  background: radial-gradient(circle at 50% 50%, #0F3B59, #0A1E34),
    radial-gradient(
      circle at 30% 70%,
      rgba(0, 255, 0, 0.5) 0%,
      rgba(0, 255, 0, 0) 70%
    ),
    radial-gradient(
      circle at 70% 30%,
      rgba(0, 0, 255, 0.5) 0%,
      rgba(0, 0, 255, 0) 70%
    );
  background-size: 200% 200%;
  background-position: center;
  background-blend-mode: screen;
  animation: blend-animation 15s ease infinite;
  box-shadow: 0 0 47px 80px #0F3B59, inset 0 0 20px 1000px #0F3B59;
}

.firstBanner2div {
  height: 370px;
  border-radius: 50px;
  max-width: 650px;
  background-color: white;
  position: absolute;
  left: 60px;
  bottom: 8%;
  display: flex !important;
  z-index: 0;

  @media (max-width: 1400px) {
    height: 316px;
  max-width: 550px;

    bottom: 50px;
    left: 25px;
  }

  @media (max-width: 768px) {
    // bottom: 30px;
    // left: 15px;
    // right: 15px;
    min-width: 90%;
    transform: translateX(-50%);
    left: 50%;
    
  }

  @media (max-width: 430px) {
    // top: 45px;
    // left: 15px;
    // right: 15px;
    min-width: 360px;
    height: 310px;
    transform: translateX(-50%);
    left: 50%;
  }


  @media (max-width: 390px) {
    // border-radius: 30px;
    height: 280px;
    // top: 80px;
    min-width: 280px;
    transform: translateX(-50%);
    left: 50%;
  }

  .firstBannerInndiv {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    padding-top: 20px;
    padding-bottom: 20px;


    @media (max-width: 490px) {
      padding: 20px;
    }
    

    @media (max-width: 390px) {
      padding: 20px 20px;
    }

    .testSpanTop {
      font-size: 36px;
      font-weight: 500;

      @media (min-width: 1440px) {
        font-size: 36px;

      }
      @media (max-width:1400px) {
        font-size: 28px;
      }
  
      @media (max-width: 768px) {
        font-size: 29px;
      }
      @media (max-width: 620px) {
        padding-top: 16px;
        font-size: 20px;
      }

      @media (max-width: 498px) {
        font-size: 18px;
      }

      @media (max-width: 430px) {
        font-size: 20px;
      }


      @media (max-width: 390px) {
        font-size: 15px;
      }

  
    }

    .testSpanCenter {
font-size: 26px;
      @media (max-width: 1440px) {
        font-size: 26px;

      }
      @media (max-width:1400px) {
        font-size: 20px;
      }
      @media (max-width: 1024px) {
        font-size: 20px;
      }
 
  
      @media (max-width: 498px) {
        font-size: 18px;
      }

    

      @media (max-width: 390px) {
        font-size: 14px;
      }

  
      
    }

  }
}

.firstBannerHeader {
  font-size: 20px;
  padding-bottom: 10px;

  @media (max-width: 768px) {
  }

  @media (max-width: 390px) {
    font-size: 16px;
    padding-bottom: 16px;
  }

  @media (max-width: 320px) {
    padding-bottom: 10px;
  }

  opacity: 1;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.firstBannerHeaderVisible {
  opacity: 1;
  transform: translateY(0);
}

.firstBannerText {
  font-size: 20px;
  font-family: "Roboto";
  width: 90%;
  line-height: 120%;
  padding-bottom: 2%;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.firstBannerTextVisible {
  opacity: 1;
  transform: translateY(0);
}

.firstBannerInputBox {
  border-radius: 50px;
  
  padding: 15px;
  display: flex;
  position: relative;
  overflow: visible;
  background-color: hsl(0, 0%, 94%);
  justify-content: space-between;
  align-content: center;
  align-items: center;

  // @media (max-width: 768px) {
  //   padding: 10px 30px;    
  // }

  @media (max-width: 430px) {
    padding: 10px 10px;
  }

  @media (max-width: 320px) {
    padding: 5px 10px;
  }

  header {
    font-size: 40px;
  }

  img {
    height: 50px;
    width: 50px;
    @media (max-width: 1024px) {
      height:36px;
      width: 36px;
    }

    @media (max-width: 430px) {
      height: 30px;
      width: 30px;
    }
  }

  input {
    flex-grow: 1;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;

    @media (max-width: 430px) {
      padding: 10px 5px;
    }
  }

  .firstInputText {
    font-size: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    color: black;
    text-align: center !important;

    @media (max-width: 660px) {
      font-size: 16px;
    }
    @media (max-width: 560px) {
      font-size: 14px;
    }

    @media (max-width: 320px) {
      font-size: 14px;
    }

    &::placeholder {
      @media (max-width: 660px) {
        font-size: 14px;
      }
      @media (max-width: 560px) {
        font-size: 13px;
      }
  
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
  }
  
}