@import '../variables.scss';

.mainfirstSectionContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    font-family: #{$body-font}, sans-serif;
    
    @media (max-width:768px) {
        max-width: 470px;
        max-height: 240px;
        width: 95%;
    height: 65%;

    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);
    }
   
  
    @media (min-width:769px) and (max-width: 800px) {
        left: 5%;
        bottom: 5%;
    width: 550px;
    height: 316px;

    }
      @media (min-width:800px) and (max-width: 900px) {
        left: 5%;
        bottom: 5%;

   
    width: 550px;
    height: 316px;
    }
    @media (min-width:900px) and (max-width: 1400px) {
        left: 3%;
        bottom: 6%;
   
    width: 600px;
    height: 344px;

    }
    @media (min-width:1400px)  {
        left: 3%;
        bottom: 6%;
        width: 700px;
        height: 402px;
    }


    @media (max-width:375px) {
        gap: 10px;
        padding: 0px 10px;
    }
    @media (min-width:375px) and  (max-width:425px) {
        gap: 14px;
        padding: 0px 14px;
    }
    @media (min-width:425px)  and  (max-width:510px) {
        gap: 13px;
        padding: 0px 16px;
    }
    @media (min-width:510px) and (max-width:768px) {
        gap: 13px;
        padding: 0px 16px;
    }
    @media (min-width:769px) and (max-width: 1440px) {
        gap: 13px;
        padding: 0px 20px;
    }
    @media (min-width:1440px) {
        gap: 13px;
        padding: 0px 40px;
    }
    .firstHeading{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        font-weight: 500;
        font-family: #{$body-font}, sans-serif;

        .heroEmphasis{
            font-weight: 600;
            font-family: #{$body-font}, sans-serif;
        }

        .firstHeading1{
            @media (max-width:375px) {
                font-size: 16px;}
                @media (min-width:425px)  and (max-width:510px) {
                    font-size: 18px }
                    @media   (min-width:510px) and (max-width:768px) {
                        font-size: 23px ;
                    }
                    @media (min-width:769px) and (max-width: 1440px) {
                        font-size: 32px;
                    }
                    @media (min-width:1440px) {
                        font-size: 35px;
                        
                    }

        }
        .firstHeading2{
            @media (max-width:375px) {
                font-size: 16px;}
                @media (min-width:425px)  and (max-width:510px) {
                    font-size: 18px;}
                    @media (min-width:510px) and (max-width:768px) {
                        font-size: 25px;
                    }
                    @media (min-width:769px) and (max-width: 1440px) {
                        font-size: 34px;
                    }
                    @media (min-width:1440px) {
                        font-size: 38px;
                        
                    }


        } 
    }
    .secondHeadingInfo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

  
        @media (min-width:425px)  and (max-width:510px) {
            gap: 10px;
        }
        @media (min-width:1440px) {
            gap: 10px;
        }
        .secondHeadingInfo1{
            width: 80%;
            font-weight: 400;
            font-family: #{$body-font}, sans-serif;

            @media (max-width:375px) { 
                width: 80%;
                font-size: 12px;
            }
            @media (min-width:375px) and (max-width:425px) {
                width: 80%;
                font-size: 12px;
            }
            @media (min-width:425px)  and (max-width:510px) {

                font-size: 11px;}
                @media (min-width:510px) and (max-width:768px) {
                    font-size: 13px;
                }
                @media (min-width:769px) and (max-width: 1440px) {
                    font-size: 18px;
                }
                @media (min-width:1440px) {
                    font-size: 22px;
                    
                }

        }
       
        .secondHeadingInfo2{
            display: flex;
            align-items: center;
            justify-content: center;
        background-color: #0A1E34;
        border-radius: 80px;
        height: 45px;
        width: 45px;
        

            @media  (min-width:350px) and (max-width:400px) {
                height: 50px;
                width: 50px;
            }
            @media (min-width:401px) and (max-width:425px) {
                height: 50px;
                width: 50px;
            }
            @media (min-width:425px)  and (max-width:510px) {
                height: 55px;
                width: 55px;
            }
            @media (min-width:510px) and (max-width:768px) {
                height: 60px;
                width: 60px;
            }
            @media (min-width:769px)  {
                height: 60px;
                width: 60px;
            }
         
     
            .FinanceAvailablefirstDiv{
                display: flex;
                text-align: center;
                justify-content: center;
                font-weight: 600;
                color: white;
                @media  (max-width:400px) {
                    font-size: 6px;
                }
                @media (min-width:401px) and (max-width:425px) {
                    font-size: 7px;

                }
                @media (min-width:425px)  and (max-width:510px) {
                    font-size: 8px;
                   }
                    @media (min-width:510px) and (max-width:768px) {
                        font-size: 8px;
                    }
                    @media (min-width:769px)  {
                        font-size: 10px;
                    }
            }
        }
    }
    .buttonDivs{
        display: flex;
        gap: 10px;
        width: 100%;


        @media (min-width:510px) and (max-width:768px) {
            gap: 20px;
        }

        .restartQuoreFirstSectionButton{
            border: 2px solid #0A1E34;
            font-weight: 600;
            background-color: white;
            position: relative;
            color: #0A1E34;
            border-radius: 50px;
            @media (max-width:375px) {
                padding: 4px 4px;
                font-size: 14px;
            }
            @media (min-width:375px) and (max-width:425px) {
                padding: 6px 10px;
                font-size: 14px;
            }
            @media (min-width:425px) and (max-width:510px) {
                padding: 8px 14px;
                font-size: 14px;
            }
            @media (min-width:510px) and (max-width:768px) {
                padding: 12px 16px;
                font-size: 14px;
            }
            @media (min-width:769px) and (max-width:1440px) {
                padding: 12px 18px;
                font-size: 20px;
            }
            @media (min-width:1440px) {
                padding: 12px 18px;
                font-size: 26px;
            }


        }
        .finishQuoteFirstSectionButton{
            background-color: #0A1E34;
            border: 1px solid #0A1E34;
            color: white;
            border-radius: 50px;
            font-weight: 600;

            @media (max-width:375px) {
                padding: 4px 4px;
                font-size: 14px;
            }
            @media (min-width:375px) and (max-width:425px) {
                padding: 6px 10px;
                font-size: 14px;
            }
            @media (min-width:425px) and (max-width:510px) {
                padding: 8px 14px;
                font-size: 14px;
            }
            @media (min-width:510px) and  (max-width:768px) {
                padding: 12px 16px;
                font-size: 14px;
            }
            @media (min-width:769px) and (max-width:1440px) {
                padding: 12px 18px;
                font-size: 20px;
            }
            @media (min-width:1440px) {
                padding: 12px 18px;
                font-size: 26px;
            }
        }
    }
    .firstSectionformDiv{
        position: relative;
        display: flex;
        background-color: #f0f0f0;
        border: 1px solid #0A1E34 ;

        width: 95%;
        margin: 0px auto;
        border-radius: 50px;
        @media (max-width:375px) {
            // height: 40px;
            height: 50px;
            gap: 16px;
            font-size: 6px;
            padding: 8px 8px;
        }
        @media (min-width:375px) and (max-width:425px) {
            // height: 40px;
            height: 50px;
            gap: 16px;
            font-size: 6px;
            padding: 8px 8px;
        }
        @media (min-width:425px)  and (max-width:510px) {
            height: 50px;
            gap: 16px;
            font-size: 6px;
            padding: 8px 8px;
           }
            @media (min-width:510px) and (max-width:768px) {
                height: 50px;
                gap: 16px;
                font-size: 6px;
                padding: 8px 8px;
            }
            @media (min-width:769px) and (max-width:1440px) {
                height: 60px;
                gap: 16px;
                font-size: 6px;
                padding: 10px 10px;
            }
            @media (min-width:1440px) {
                height: 80px;
                gap: 16px;
                font-size: 6px;
                padding: 14px;
            }



            .formErrorsSpan{
               position:absolute;
               bottom:-50%;
               left:5%;
               color:red;
               font-size:14px;
               @media (min-width:769px) {
               bottom:-30%;
                
               }
            }
            .locationIcon{
                img{

                    height: 100%;
                   width: 100%;
                   object-fit: contain;
                }
                @media (max-width:375px) {
                    width: 10%;
                }
                @media (min-width:375px) and (max-width:425px) {
                    width: 10%;
                }
                @media (min-width:425px)  and (max-width:510px) {
                    width: 10%;
                   }
                    @media (min-width:510px) and (max-width:768px) {
                        width: 10%;
                    }
                    @media (min-width:769px) and (max-width:1440px) {
                        width: 10%;

                    }
                    @media (min-width:1440px) {
                        width: 10%;
                    }
            }
            .firstSectionInputDiv{
                
                input:focus{
                    outline: none;
                }
                input{
                    text-transform: uppercase;
                    background-color: #f0f0f0;
    background-color: #f0f0f0;
                    border: 1px solid #f0f0f0 ;
                    height: 100%;
                   width: 100%;
                }
                @media (max-width:375px) {
                    width: 60%;
                 
                }
                @media (min-width:375px) and (max-width:425px) {
                    width: 60%;
                    input{
                        font-size: 10px;
                    }

                }
                @media (min-width:425px)  and (max-width:510px) {
                    width: 60%;
                    input{
                        font-size: 12px;
                    }
                   }
                    @media (min-width:510px) and (max-width:768px) {
                        width: 60%;
                        input{
                            font-size: 14px;
                        }
                    }
                    @media (min-width:769px) and (max-width:1440px) {
                        width: 60%;
                        input{
                            font-size: 16px;
                        }
                    }
                    @media (min-width:1440px) {
                        width: 60%;
                        input{
                            font-size: 18px;
                        }
                    }
            }
            .getStatedFirstSectionButton{
                font-weight: 600;
                font-size: 8px;

                @media (max-width:400px) {
                    width: 35%;
                    font-size: 9px !important;

                }
                @media (min-width:400px) and (max-width:425px) {
                    width: 34%;
                    font-size: 10px !important;

                }
                @media (min-width:425px)  and (max-width:510px) {
                    width: 34%;
                    font-size: 11px !important;
                   }
                    @media (min-width:510px) and (max-width:768px) {
                        width: 33%;
                        font-size: 12px !important;
                    }
                    @media (min-width:769px) and (max-width:1440px) {
                        width: 33%;
                        font-size: 14px !important;
                    }
                    @media (min-width:1440px) {
                        width: 33%;
                        font-size: 16px !important;
                    }
            }
    }

}