

.fourDiv {
  position: relative;
}

.fourBannerDiv {
  height: auto;
  min-height: 800px;
  width: 100%;
  background: #e6f0f9;
}



.bannerHeader {
  font-size: 40px;
  display: flex;
  font-family: "Roboto";
  justify-content: space-around;
  padding-top: 44px;
  text-align: center;

  @media (max-width: 430px) {
   padding: 40px 10px 0px 10px;
   font-size: 25px;
  }
}

.bannerDiv4 {
  display: flex;
  justify-content: center;
  gap: 80px;

  .bannerDiv4SubDiv1, .bannerDiv4SubDiv2 {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      // padding: 0px 45px;
      gap: 0px;
    }

    @media (max-width: 430px) {
      padding: 0px;
      width: 100%;
    }
  }

  @media (max-width: 1400px) {
    flex-direction: column;
    justify-content: center;
      gap: 0px;
  }

  @media (max-width: 768px) {
    padding: 20px 45px 50px 45px;
    gap: 0px;
  }

  @media (max-width: 700px) {
    padding-inline: 40px;
  }

  @media (max-width: 650px) {
    padding-inline: 30px;
  }

  @media (max-width: 576px) {
    padding-inline: 25px;
  }

  @media (max-width: 430px) {
    padding: 20px ;
  }
  
  @media (min-width:768px) {
    align-items: center;
  }
}

.bannerContent4 {
  height: 300px;
  width: 600px;
  border-radius: 50px;
  margin-block: 35px;
  display: flex;
  padding: 40px;
  position:relative;

  @media (max-width: 768px) {
    border-radius: 45px;
    margin-block: 26px;
    width: 100%;
    padding: 35px;
  }

  @media (max-width: 650px) {
    height: 280px;
  }

  @media (max-width: 576px) {
    border-radius: 40px;
    padding: 30px;
    height: 265px;
  }

  @media (max-width: 500px) {
    border-radius: 35px;
    height: 240px;
  }

  @media (max-width: 430px) {
    border-radius: 30px;
    width: 100%;
    padding: 25px;
    margin-block: 15px;
    height: 220px;
  }

  @media (max-width: 390px) {
    height: 210px;
    margin-block: 10px;
    padding: 20px;
  }

  @media (max-width: 320px) {
    border-radius: 34px;
    height: 230px;

  }

  .animation-element {
    opacity: 0;
    position: relative;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .animation-element.slide-left {
    transform: translate3d(-100px, 0, 0);
  }

  .animation-element.slide-left.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bannerContentHeader {
  font-family: "Roboto";
  font-size: 25px;

  @media (max-width: 650px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }

  @media (max-width: 550px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }

  @media (max-width: 430px) {
    font-size: 15px;
  }

  @media (max-width: 400px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 14px;
  }
}

.bannerContentParagraph {

  
  @media (min-width: 374px) {
    font-size: 9px;
  }
  
    @media (min-width: 391px) {
      font-size:10px;
    }

    @media (min-width: 700px) {
      font-size: 14px;
    }
  @media (max-width: 320px) {
    font-size: 8px;

  }
}
.solarBannerContentParagraph{
font-size: 10px;

@media (min-width: 320px) {
  font-size: 9px;
}
@media (min-width: 375px) {
  font-size: 9px;
}
@media (min-width: 391px) {
  font-size: 9px;
}
@media (min-width: 430px) {
  font-size: 10px;
  font-size: 9.5px;
}
@media (min-width: 460px) {
  font-size: 11px;
  font-size: 10.5px;
}
@media (min-width: 500px) {
  font-size: 11.5px;
  font-size: 11px;
}
@media (min-width: 550px) {
  font-size: 12.5px;
  font-size: 12px;
}
@media (min-width: 600px) {
  font-size: 13.5px;
}
@media (min-width: 700px) {
  font-size: 14px;
}
}
.monitoringBannerContentParagraph{
  font-size: 10px;
  
  @media (min-width: 320px) {
    font-size: 9px;
  }
  @media (min-width: 375px) {
    font-size: 9px;
  }
  @media (min-width: 391px) {
    font-size: 10px;
  }
  @media (min-width: 430px) {
    font-size: 11px;
  }
  @media (min-width: 522px) {
    font-size: 12px;
  }
  @media (min-width: 600px) {
    font-size: 14px;
  }
  @media (min-width: 700px) {
    font-size: 16px;
  }
  }

.bannerContentText {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  color: white;
  justify-content: space-between;

  @media (max-width: 430px) {
    font-size: 12px;
  }

  @media (max-width: 391px) {
    font-size: 9px;
  }

  @media (max-width: 320px) {
    width: 60%;
  }
  
}

.bannerContentBattText {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 14px;
  color: white;

  @media (max-width: 768px) {
    overflow: hidden;
  }

  @media (max-width: 430px) {
    overflow: hidden;
  }

  @media (max-width: 330px) {
    overflow: hidden;
  }
}

.bannerContentPanelImg {
  color: transparent;
  width: 125%;
  height: 360px;
  top: -74px;
  position: relative;

  @media (max-width: 768px) {
    height: 340px;
    width: 340px;
    top: -50px;
  }

  @media (max-width: 700px) {
    height: 325px;
    width: 310px;
    top: -45px;
  }

  @media (max-width: 650px) {
    height: 310px;
    width: 290px;
    top: -45px;
  }

  @media (max-width: 600px) {
    height: 300px;
    width: 270px;
    top: -45px;
  }

  @media (max-width: 550px) {
    height: 285px;
    width: 245px;
    top: -45px;
  }

  @media (max-width: 500px) {
    height: 270px;
    width: 230px;
    top: -45px;
  }

  @media (max-width: 460px) {
    height: 255px;
    width: 200px;
    top: -45px;
  }

  @media (max-width: 429px) {
    height: 240px;
    width: 180px;
    top: -20px;
  }

  @media (max-width: 390px) {
    width: 160px;
    height: 230px;
    top: 0px;
  }

  @media (max-width: 320px) {
    width: 140px;
    right: 5px;
  }
}

.solarDetailsContent {
  display: flex;
  gap: 20px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 430px) {
    margin-top: 10px;
  }
}

.bannerContentPanelImgPopup {
  color: transparent;
  width: auto;
  position: relative;
  flex: 0 0 auto;
  margin-right: 20px;
}

.solarDetailsText {
  flex: 1;
}

.bannerContentImgCenter {
  width: 50%;
  font-size: 10px;

  @media (min-width: 320px) {
position: absolute;
right: -2px;
top: -6px;
  }

  @media (min-width: 391px) {
    position: absolute;
    right: 0px;
    top: 10px;
  }
  @media (min-width: 430px) {
    position: absolute;
    right: 4px;
    top: 35px;
  }
  @media (min-width: 522px) {
    position: absolute;
    right: 10px;
    top: 35px;
  }

}

.bannerContentImgBatteryDiv {
  width: 50%;
  position: relative;
  bottom: 52px;

  @media (max-width: 700px) {
    bottom: 42px;
  }

  @media (max-width: 650px) {
    bottom: 38px;
  }

  @media (max-width: 600px) {
    bottom: 28px;
  }

  @media (max-width: 576px) {
    bottom: 30px;
  }

  @media (max-width: 550px) {
    bottom: 20px;
  }

  @media (max-width: 500px) {
    bottom: 20px;
    right: 10px;
  }

  @media (max-width: 460px) {
    bottom: 15px;
    right: 6px;
  }

  @media (max-width: 430px) {
    bottom: 10px;
    right: 0px;
  }
}

.bannerContentBattTextPopup {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 95%;
  color: white;

  @media (max-width: 700px) {
  }
}

.bannerContentPercentImg {
  position: relative;
  bottom: 52px;
  height: 260px;
  width: 100%;
  top: -30px;
  
  @media (max-width: 768px) {
    top: -25px;
  }

  @media (max-width: 650px) {
    height: 220px;
  }

  @media (max-width: 550px) {
    height: 200px;
  }

  @media (max-width: 480px) {
    height: 180px;
  }

  @media (max-width: 429px) {
    right: 10px;
    width: 180px;
    height: 180px;
    top: 0px;
  }

  @media (max-width: 391px) {
    left: 6px;
    width: 155px;
    height: 170px;
    top: 20px;
  }

  @media (max-width: 320px) {
    width: 135px;
  } 
  
}

.bannerContentPhoneImg {
  width: 100%;
  height: auto;
  top: -14px;
  position: relative;

  @media (max-width: 768px) {
    top: -20px;
  }

  @media (max-width: 700px) {
    top: -10px;
  }
  @media (max-width: 500px) {
    top: 0px;
  }
  @media (max-width: 429px) {
    // width: 200px;
    // width: 170px;
    width: 90%;
    top: 20px;
    left: 5px;
  }
  @media (max-width: 390px) {
    width: 90%;
    top: 40px;
    left: 0px;
  }

  @media (max-width: 320px) {
    width: 125px;
    top: 40px;
  }
}

.bannerContentBattery {
  position: relative;

  @media (max-width: 700px) {
    width: 310px;
    height: 320px;
  }

  @media (max-width: 650px) {
    width: 280px;
    height: 290px;
  }

  @media (max-width: 600px) {
    width: 260px;
    height: 270px;
  }

  @media (max-width: 550px) {
    width: 240px;
    height: 250px;
  }

  @media (max-width: 500px) {
    width: 220px;
    height: 230px;
  }

  @media (max-width: 460px) {
    width: 205px;
    height: 210px;
  }

  @media (max-width: 430px) {
    width: 185px;
    height: 190px;
  }

  @media (max-width: 390px) {
    width: 170px;
    
  }

  @media (max-width: 320px) {
    width: 150px;
  }
}

.bannerContentBatteryParagraph {
  @media (max-width: 700px) {
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 80px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;

  @media (max-width: 430px) {
    right: 40px;
  }
}

.myPopup {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: black;
  padding: 70px 80px 20px 80px;
  border-radius: 60px 60px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 800px;
  box-sizing: border-box;

  img{
    object-fit: contain !important;
  }
  @media (max-width: 1024px) {
    // max-height: calc(100% - 40%);
    max-height: 500px;

  }

  @media (max-width: 768px) {
    // max-height: calc(100% - 40%);
    max-height: 400px;

  }

  @media (max-width: 430px) {
    padding: 70px 40px 20px 40px;
    border-radius: 40px 40px 0 0;
       max-height: 400px;


  }

  @media (max-width: 390px) {
    padding: 70px 20px 20px 20px;
    border-radius: 40px 40px 0 0;
    max-height: 400px;

  }

}

.bannerContentImgBatteryDivPopup {
  // flex: 0 0 auto;
  margin: 0px 10px;
  height: 338px;
  // width: 35%;
}

.solarImgDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.solarSmallImgDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.25vw;
  // background: #EEF2F5;

  gap: inherit;
  // border-radius: 0.25vw;
  // background-color: #fff;
  // width: 50px;
  // height: 50px;
  // padding: 2px;
  // justify-content: space-evenly;
  @media (max-width: 768px) {
    
  }
}

.solarDetailsText {
  flex: 1;
  font-size: 16px;
  height: 460px;
  margin-bottom: 10px;
}

.solarName {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, #F6E51B, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}

.solarSubtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.batterySubtitle {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.phoneSubtitle {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.percentageSubtitle {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.solarDescription {
  margin-top: 10px;
  font-size: 14px;
}

.phoneDescription {
  margin-top: 10px;
  font-size: 14px;
}

.percentageDescription {
  margin-top: 16px;
  font-size: 16px;
}
// .percentageDescription2{
//   @media (min-width: 1024px) {
    
//     position: fixed;
//     bottom: 0;
//   }
// }
.productInfo {
  margin-top: 20px;
}

.downloadLink {
  margin-top: 20px;
}

.downloadLink a {
  color: #0F3B59;
  text-decoration: none;
}

.downloadLink a:hover {
  text-decoration: underline;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.bannerContentPanelImgPopup {
  color: transparent;
  position: relative;
  @media (max-width: 430px) {
    margin: 0px;
    img {
      width: 320px;
      height: 320px;
    }
  }

  @media (max-width: 320px) {
    margin: 0px;
    img {
      width: 270px;
      height: 270px;
    }
  }
}

.bannerContentImgBatteryDivPopup {
  color: transparent;
  position: relative;

  @media (max-width: 390px) {
    img {
      width: 250px;
      height: 270px;
    }
  }

  @media (max-width: 320px) {
    margin: 0px;
    img {
      width: 230px;
      height: 260px;
    }
  }
  
}

.bannerContentImgBatteryDivPopup1 {
  color: transparent;
  position: relative;
  background: #EEF2F5;
  border-radius: 10px;
  max-width: 345px;
  max-height: 338px;
  display: flex;
  justify-content: center;

  @media (max-width: 430px) {
    img {
      width: 270px;
      height: 270px;
    }
  }

  @media (max-width: 390px) {
    img {
      width: 250px;
      height: 270px;
    }
  }

  @media (max-width: 320px) {
    margin: 0px;
    img {
      width: 230px;
      height: 260px;
    }
  }
  
}

.bannerContentPhoneImgPopup {
  color: transparent;
  position: relative;
  margin: 0px 20px;

  @media (max-width: 430px) {
    margin: 0px;
    img {
      width: 350px;
      height: 350px;
    }
  }

  @media (max-width: 390px) {
    img {
      width: 250px;
      height: 250px;
    }
  }

  @media (max-width: 320px) {
    img {
      width: 200px;
      height: 200px;
    }
  }
}

.downloadAppLinks{
  display: flex;
  margin-top: 10px;

  @media (max-width: 450px) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (max-width: 330px) {
    flex-direction: column;
    gap: 10px;
  }
}

.webstore{
  margin-left: 10px;
  
  @media (max-width: 450px) {
    margin-left: 0px;
    // margin-top: 10px;
    width: 150px;
  }
}


.bannerContentPercentageImgPopup {
  color: transparent;
  // width: 50%;
  // left: 90px;
  // top: 10px;
  position: relative;
  height: 250px;
  flex: 0 0 auto;
  // margin-right: -30px;
}

.bannerContentPanelImgPopupPopup {
  color: transparent;
  width: auto;
  position: relative;
  flex: 0 0 auto;
  margin-right: 20px;
}

.imageLogo {
  width: 28%;
  height: 100%;
  object-fit: contain;
}

.fileImageLogo {
  width: 420px;
  height: 50px;
  
  @media (max-width: 768px) {
    // width: 250px;
    max-width: 100%;
  }
}

.displayBlockSmallerThan1310 {
  display: none !important;

  @media (max-width: 1310px) {
    display: flex !important;
  }
}

.displayNoneSmallerThan1310 {
  display: flex !important;
  
  @media (max-width: 1310px) {
    display: none  !important;
  }

}
