.secondBannerDiv {
  width: 100%;
  background: #e6f0f9;
  padding: 20px 20px 100px 20px;
  z-index: 1;
  position: relative;
  overflow-y: 'hidden';

  @media (max-width: 768px) {
    padding: 30px 35px 100px 50px;
    height: auto;
  }
  @media (max-width: 430px) {
    padding: 20px 20px 70px 20px;
  }

  @media (max-width: 320px) {
    // padding: 20px 5px 70px 20px;
  }

  .secondBannerHeader {
    font-size: 2.1vw;
    display: flex;
    font-family: "Roboto";
    justify-content: space-around;
    padding-top: 20px;
  }

  .secondBannerContent {
    display: flex;
    gap: 30px;
    // padding: 0px 40px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: 1440px) {
      padding: 0px;
      // flex-wrap: nowrap;
    }

    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 430px) {
      padding: 0px;
    }    

    .secondBanner2div {
      // min-height: 415px;
      width: 420px;
      max-width: 600px;
      background-color: white;
      display: flex !important;
      padding: 8px 30px  0px 30px;
      // padding-inline: 36px;
      border-radius: 50px;
      opacity: 1; /* Start with opacity 0 */

      &.show {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
        transition: opacity 0.5s ease, transform 0.5s ease;
      }

      @media (max-width: 768px) {
        width: 100%;
        // height: 460px;
        // height: 500px;
      }

      @media (max-width: 390px) {
      // padding: 8px 20px  0px 20px;

        // height: 368px;
        // height: 376px;
        // padding: 25px;
        border-radius: 40px;
      }

      @media (max-width: 320px) {
        padding: 0px 15px;
        border-radius: 30px;
        height: 350px;
      }
      @media (min-width: 768px) {

        padding: 6px 40px  0px 40px;
        // padding-inline: 36px;
      }

      .secondBannerInndiv {
        // display: grid;
        // grid-template-rows: repeat(2,minmax(0,1fr));
        display: flex;
        flex-direction: column;

        gap: 10px;
        padding: 0 0 10px 0;
        width: 100%;
       .secondBannerTitleDiv{
        font-size: 28px;
        font-weight: 700;

        @media (min-width:431px) {
          padding-top: 0;
        }
       }
        .videoDiv{
          width: 100%;
          border-radius: 50px;
          grid-row-start: 1;
          grid-row-end: 2;
          
          video{
            width: 100%;
            // height: 100%;
            touch-action: none;
            aspect-ratio: 16/9;
            border-radius: 0px;
            height: 100%;
            // max-width: 100%;
            @media (min-width:1024px) {
              
              border-radius: 21px;
              // padding-bottom: 20px;


            }
            object-fit: contain;
          }
        }
        .secondBannerInndivsubDiv1{
          box-shadow:  2px 2px 15px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
          border-radius: 20px;
          display: grid;
          grid-template-rows: repeat(3,minmax(0,1fr));
          padding-bottom: 10px 0;
        }

        @media (max-width: 430px) {
          padding-left: 0px;
          // min-height: 360px;
          gap: 10px;
          justify-content: center;
        }

        @media (max-width: 320px) {
          gap: 10px;
          justify-content: space-evenly;
          width: 260px;
        }

        .secondBannerInndivHeader {
          font-size: 19px;
          width:100%;
          line-height: 32px;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0 20px;

          @media (max-width: 768px) {
            // width: 300px;
            font-size: 23px;
            // line-height: 40px;
          }
          @media (max-width:522px) {
            // width: 300px;
            font-size: 24px;
            line-height: 24px;
          }
          @media (max-width: 400px) {
            font-size: 23px;
          }

          @media (max-width: 390px) {
            font-size: 13px;
            line-height: 18px;
          }
          @media  (min-width: 340px) and (max-width: 390px) {
            line-height: 24px;
          }

          @media (max-width: 320px) {
            font-size: 12px;
            // width: 270px;
          }
        }

        .secondBannerText {
          font-size: 10px;
          font-family: "Roboto";
          padding: 0px 20px;
          align-self: center;
          @media (min-width:390px) {
            font-size: 12px;
          }
          @media (min-width:519px) {
            font-size: 14px;
          }
          @media (min-width:600px) {
            font-size: 16px;
          }
          @media (min-width:630px) {
            font-size: 18px;
          }
          @media (min-width:630px) {
            font-size: 20px;
          }
          @media (min-width:768px) {
            font-size: 12px;
          }
          @media (max-width: 390px) {
          }

          @media (max-width: 320px) {
            // width: 280px;
          }
        }

        .secondBannerFooter {
          font-size: 28px;
          font-family: "Roboto";
          line-height: 32px;
          padding-bottom: 10px;
          padding-top: 25px;
          max-width: 270px;
          display: block;
          @media (max-width: 768px) {
            padding-top: 20px;
          }

          @media (max-width: 390px) {
            font-size: 18px;
            line-height: 30px;
          }

          @media (max-width: 320px) {
            line-height: 24px;
          }
        }
        .firstinputIcon{
            width:10%;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .firstBannerInputBox {
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
          border-radius: 50px;
           max-width: 350px;
          display: flex;
          position: relative;
          overflow: visible;
          background-color: hsl(0, 0%, 94%);
          align-content: center;
          align-items: center;
          padding: 3px 6px ;
          justify-self: center;
          @media (max-width: 768px) {
            width: 100%;
          }
          @media screen and (max-width: 768px) {
            // padding: 6px 2px;
            width: 100%;
          padding:6px ;
          }
         .getStartedButtonSecond {
                  width: 30%;
                  // padding: 4px;
            border: 2px solid #0A1E34;
            border-radius: 50px;
            box-shadow: inset 0 0 0 0 #fff;
            color: #fff;
            background-color: #fff;
            cursor: pointer;
            display: inline-block;
            // font-size: 8px;
            letter-spacing: 1px;
            font-weight: 600;
            // padding: 10px 15px;
            transition: 0.4s ease-in;
            text-align: center;
            overflow: hidden;
            position: relative;
            z-index: 0;
            border-width: 0px;
          
              padding: 6px 2px; 
              font-size: 6px;
              @media (min-width:374px) {
                font-size: 8px;
                
              }
            
            @media (min-width: 425px) {
              padding: 8px 2px; 
              font-size: 10px;
            }

            @media (min-width: 768px) {
              padding: 6px 2px; 

              font-size: 10px;
            }
          
            &:hover {
              color: #0A1E34;
            }
          }

          .getStartedButtonSecond:hover {
            .getStartedbtnShadow {
              transform: translateY(-100%);
            }
          }
          
          .getStartedbtnShadow {
            height: 100%;
            background-color:#0A1E34;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            transition: all;
            transition-duration: 0.4s;
            z-index: -1;
          }
        
          header {
            font-size: 40px;
          }
        
          img {
            height: 35px;
            width: 32px;
            padding: 4px;
            @media (max-width: 768px) {
            }
        
            @media (max-width: 430px) {
              height: 27px;
              width: 25px;
            }

            @media (max-width: 390px) {
              padding: 4px;
            }
          }
        
          input {
            flex-grow: 1;
            border: none;
            background: transparent;
            outline: none;
            width: 100%;

          }
        
          .firstInputText {
            font-size: 6px;
            width: 60%;
            font-family: "Roboto";
            text-transform: uppercase;
            color: black;
         flex-grow: 3;
         @media (min-width:375px) and (max-width:425px) {
              font-size: 10px;

      }
      @media (min-width:425px)  and (max-width:510px) {
              font-size: 12px;
         }
          @media (min-width:510px) and (max-width:768px) {
                  font-size: 14px;
          }
          @media (min-width:769px) and (max-width:1440px) {
                  font-size: 16px;
          }
          @media (min-width:1440px) {
                  font-size: 18px;
          }
          }
        }
      }
    }
  }
.secondBannerParentDiv{
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width:787px) {
    gap: 60px;
  }
}
  .secondBanner2div,
  .secdiv {
    opacity: 1; /* Start with opacity 0 */

    &.show {
      opacity: 1;
      transform: translateY(0); /* Move to original position */
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }

  .secdiv {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    width: 420px;
    background-image: url(/images/solar_animation0001-0090.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 415px;
    padding: 10px 40px;

    @media (max-width: 720px) {
      width: 100%;
      height: 530px;
    } 
    @media (min-width:720px) and (max-width: 768px) {
      width: 90%;
      height: 530px;
    } 
    @media (max-width: 768px) {
      height: 360px;
      padding: 20px;
    }
    @media (max-width: 552px) {
      height: 340px;
      padding: 20px;
    }
    @media (max-width: 440px) {
      height: 330px;
      padding: 20px;
    }

    @media (max-width: 390px) {
      height: 300px;
    }

    @media (max-width: 390px) {
      height: 276px;
    }

    .secdivFooter {
      font-size: 35px;
      font-family: "Roboto";
      line-height: 40px;
      padding: 15px 70px 10px 0px;

      @media (max-width: 390px) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  .gifAnimDiv{
    @media (min-width:391) and (max-width: 649px) {
      // width: 100%;
      height: 363px !important;
    } 
  }

}

.bannerHeader {
  font-size: 40px;
  display: flex;
  font-family: "Roboto";
  justify-content: space-around;
  padding-top: 20px;
  padding-inline: 10px;
  text-align: center;
  position: relative;
  z-index: 2;

  @media (max-width: 768px) {
    font-size: 34px;
  }

  @media (max-width: 430x) {
    font-size: 25px;
  }
}

.bannerImg {
    width: 100%;
    height: 208px;
    max-height: 100%;
    opacity: 0.8; /* Example opacity value */
    transition: opacity 0.3s ease; /* Optional: Add transition for smooth opacity change */

    @media (max-width: 768px) {
      height: auto;
    }
  }

.desktopView {
  @media (max-width: 923px) {
    display: none;
  }
}

.mobileView {
  display: none;
  @media (max-width: 923px) {
    display: unset;
  }
}