.mainContainer{
    background: #e6f0f9;
    // height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 50px;
    @media (min-width:1024px) {
        padding-top: 50px;
        
    }
    gap: 30px;
    .titleDiv{
        margin: 0 auto;

        p{
            font-size: 40px;
            font-family: "Roboto";
            text-align: center;
            padding: 0;
            margin: 0;
            font-weight: 500;
            @media (max-width: 450px) {
                font-size: 25px;
              }
        }

    }
    .gridDiv{
        display: grid;
        @media (min-width:769px) {
            grid-template-columns: repeat(2,minmax(0,1fr));
                
        }
        gap: 6%;
        width: 88%;
        .gridItem{
            /* Extra small devices (portrait phones, less than 576px) */

            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
        @media (max-width: 575.98px) { 
              padding: 10px;
         }
        
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 16px;

          }
        
        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 16px;
            
        }
        
        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) and (max-width: 1199.98px) { 
            padding: 10px 20px;

         }
        
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) and (max-width:1400px) { 
        padding: 20px 30px;

         }
         @media (min-width: 1400px) { 
            padding: 40px;
    
             }

            background: linear-gradient(to right, #0A1E34, #0F3B59);
            color: white;
            border-radius: 10px;
             text-align: start;
            
             .SixthSectiontitleDiv{
                grid-row-start:1 ;
                grid-row-end: 2;
                font-size: 25px;
                font-family: "Roboto";
                text-align: start;
                padding: 0;
                margin: 0;
                font-weight: 600;
                @media (max-width: 575.98px) { 
                
                    font-size: 18px;
                
             }
            
            /* Small devices (landscape phones, 576px and up) */
            @media (min-width: 576px) and (max-width: 767.98px) {  }
            
            /* Medium devices (tablets, 768px and up) */
            @media (min-width: 768px) and (max-width: 991.98px) {
                
            }
            
            /* Large devices (desktops, 992px and up) */
            @media (min-width: 992px) and (max-width: 1199.98px) {  }
            
            /* Extra large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) {  }
            }
            .SixthSectioninfoDiv{
                grid-row-start:2 ;
                grid-row-end: 6;
                @media (min-width:1439.98px) {
                    grid-row-start:2 ;
                    grid-row-end: 4;
                    
                }
                padding: 0;
                margin: 0;
        
                font-size: 18px;
                font-family: "Roboto";
                word-spacing:0px;
                @media (min-width:827px) and (max-width:975px) {
                font-size: 22px;
                    
                }
                @media (max-width: 575.98px) { 
                
                    font-size: 14px;
                
             }
            
            /* Small devices (landscape phones, 576px and up) */
            @media (min-width: 576px) and (max-width: 767.98px) {  }
            
            /* Medium devices (tablets, 768px and up) */
            @media (min-width: 768px) and (max-width: 991.98px) {
                
            }
            
            /* Large devices (desktops, 992px and up) */
            @media (min-width: 992px) and (max-width: 1199.98px) {  }
            
            /* Extra large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) {
                font-size: 25px;

              }
            }
            .buttonDiv{
                grid-row-start:6 ;
                grid-row-end: 7;
                @media (min-width:1439.98px) {
                    grid-row-start:4 ;
                    grid-row-end: 5;
                    
                }
                max-height: 60px;
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-family: "Roboto";
                font-weight: 500;
                text-align: center;
                background-color: white;
                border-radius: 10px;
                color: black;
                @media (max-width: 575.98px) { 
                
                        max-height: 50px;
                        font-size: 14px;
                    
                 }
                
                /* Small devices (landscape phones, 576px and up) */
                @media (min-width: 576px) and (max-width: 767.98px) {  }
                
                /* Medium devices (tablets, 768px and up) */
                @media (min-width: 768px) and (max-width: 991.98px) {
                    max-height: 50px;
                    font-size: 14px;
                    
                }
                
                /* Large devices (desktops, 992px and up) */
                @media (min-width: 992px) and (max-width: 1199.98px) {  }
                
                /* Extra large devices (large desktops, 1200px and up) */
                @media (min-width: 1200px) {  }
            }
        }

    }
}