.videoDiv {
  width: 100%;
  height: 100%;
  position: relative;
}

.getStartedBtn {
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in;
  background-color: #ffffff !important;

  &:hover {
    .getStartedBtnShadow {
      transform: translateY(-100%);
    }

    background-color: #F6E51B !important;
    color: #000;

    p {
      color: #000;
    }
  }
}

.getStartedBtnShadow {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all;
  transition-duration: 0.4s;
}