.helpInfo {
	background: #efefef;

	:global(.faq) {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: start;
		background: #efefef !important;
	}

	:global(.ant-collapse) {
		background-color: #efefef !important;
		border: none;
		min-height: 400px;
	}

	:global(.ant-collapse-content) {
		border-top: none;
        background-color: #efefef !important;
	}

	:global(.display-3) {
		display: none;
	}
	:global(.imgDiv) {
		font-size: 50px;
		@media (min-width: 500px) {
			font-size: 100px;
		}
	}
}
