.infoContainer {
	:global(.ant-modal-content) {
		border-radius: 14px !important;
	}

	:global(.ant-modal-close) {
		:global(.ant-modal-close-x) {
			font-size: 18px !important;
			display: none !important;
		}
	}

	:global(button) {
		padding: 5px 30px;
		background: #000;
		border: none;
		border-radius: 6px;
		color: #fff;
		font-size: 24px;
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			font-size: 19px;
			padding: 4px 10px;
		}
	}

	:global(.Restart-button) {
		padding: 5px 30px;
		background: linear-gradient(to right, #0A1E34, #0F3B59);
		color: #fff;
		border: none;
		border-radius: 50px;
		font-size: 18px;
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			font-size: 19px;
			padding: 4px 10px;
		}
	}

	:global(.yp) {
		display: flex;
		align-items: center;

		svg {
			width: 35px;
			height: 35px;
			fill: #0F3B59;
			margin-right: 10px !important;
		}

		@media (max-width: 768px) {
			font-size: 20px;

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	:global(.qyp) {
		color: #000;
		font-size: 20px;
		margin-bottom: 0;
		text-align: center;
		line-height: 1.4;

		@media (max-width: 550px) {
			flex-direction: column !important;
		}
	}

	:global(.form-check-input) {
		margin: 5px;
		transform: scale(1.2);
		
		&:checked {
			background-color: #F6E51B !important;
			border-color: #000000 !important;
		  }

		&:checked::before {
		content: '\2714'; // Unicode character for a checkmark
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #000000; // Change this to your desired tick color
		font-size: 16px; // Adjust as needed
		}
	}

	:global(.clickable-roof) {
		cursor: pointer;
		padding: 10px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
	  
		&:hover {
			background-image: linear-gradient(to right, #0A1E34, #0F3B59);
			transform: scale(1.05);
			transition: 0.2s;
		}
	  
		.custom-checkbox {
		  width: 20px;
		  height: 20px;
		  border: 2px solid #0F3B59;
		  border-radius: 3px;
		  margin-right: 10px;
		  position: relative;
		}
	  
		&.selected {
		  .custom-checkbox::after {
			content: '\2714'; // Checkmark
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #0F3B59;
		  }
		}
	  
		.roof-label {
		  flex-grow: 1;
		}
	  }
	
	:global(.close-button) {
		padding: 20px 13px;
		background: linear-gradient(to right, #0A1E34, #0F3B59);
		color: #fff;
		border: none;
		border-radius: 50px;
		color: #fff;
		font-size: 18px;
		display: flex;
		align-items: center;

		@media (min-width: 540px) {
			font-size: 19px;
			padding: 5px 20px;
		}

		@media (min-width: 769px) {
			font-size: 19px;
			padding: 20px 40px;
		}
	}

}