.Contactcontainer {
	position: relative;
	input:focus{
		outline: none;
	}

	:global(.dropDownMenu) {
		position: absolute !important;
		top: 3%;
		right: 5%;
		z-index: 999;
		
		@media (max-width: 767px) {
			top: 0.4%;
		}
		@media (min-width: 768px) and (max-width: 992px) {
			top: 1.1%;
		}

		@media (max-width: 420px) {
			top: 0.3%;
		}

		@media (max-width: 320px) {
			top: 0.1%;
		}
	}

	:global(.navCont) {
		background-image: linear-gradient(90deg, #0A1E34 30%, #000000 70%);
		background-size: cover;
		padding-bottom: 56px;
		clip-path: polygon(0 0, 100% 0, 100% 70%, 18% 100%, 0 77%);

		@media (max-width: 768px) {
			padding-bottom: 28px;
		}
	}

	:global(h3) {
		color: #000;
	}

	:global(.img-size) {
		@media (min-width: 500px) and (max-width: 768px) {
			width: 18vw;
		}
		@media (max-width: 500px) {
			width: 22vw;
		}
	}

	:global(.opacity) {
		opacity: 0.5;
	}

	:global(.grayColor) {
		color: #999999;
	}

	:global(.cursor-pointer) {
		cursor: pointer;
	}

	:global(.container) {
		@media (max-width: 575px) {
			max-width: 95% !important;
		}
	}

	:global(.formcontent) {
		:global(label) {
			font-size: 20px;
		}
		:global(input) {
			background-color: #efefef;
			border: none;
			padding: 10px;
			border-radius: 10px;
			font-size: 18px;
		}
	}

	:global(.contact-form) {
		width: 500px;
		/* border: 1px solid; */
		border-radius: 10px;
		padding: 20px;
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	}

	:global(.saveButton) {
		background: linear-gradient(#0A1E34, #0F3B59) !important;
		border: none !important;
		color: #fff !important;
		padding: 8px 25px;
		border-radius: 10px;
		font-size: 22px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background: linear-gradient(#0F3B59, #0A1E34) !important;
			opacity: 0.9;
		}

		&:disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	:global(.about-us-header) {
		background-size: contain;
		width: 100%;
		margin-top: -106px;

		@media (max-width: 1200px) {
			margin-top: -90px;
		}

		@media (min-width: 768px) and (max-width: 992px) {
			margin-top: -65px;
		}

		@media (min-width: 500px) and (max-width: 767px) {
			margin-top: -41px;
		}

		@media (max-width: 500px) {
			margin-top: -30px;
		}

		:global(.header-image) {
			width: 100%;
		}
		:global(.headerImage) {
			width: 100%;
		}

		:global(.about-text) {
			padding-bottom: 116px;
			margin-top: -215px;

			@media (min-width: 800px) and (max-width: 1100px) {
				margin-top: -157px;
			}
			@media (min-width: 500px) and (max-width: 800px) {
				margin-top: -135px;
			}
			@media (max-width: 500px) {
				margin-top: -92px;
			}

			@media (max-width: 767px) {
				padding-bottom: 50px;
			}
		}
	}

	:global(.notes) {
		background-color: #efefef;
    	border: none;
    	padding: 10px;
    	border-radius: 10px;
    	font-size: 18px;
		outline: none;
	}
}
