.thankyouContainer {
	position: relative;

	:global(.aes-footer) {
		background: #fff !important;
	}

	:global(.ftr-pink) {
		display: none !important;
	}

	:global(.dropDownMenu) {
		position: absolute !important;
		top: .3%;
		right: 5%;
		z-index: 999;

		@media (min-width: 320px) {
			top: 0.6%;
		}

		@media (min-width: 558px) {
			top: .8%;
		}

		@media (min-width: 758px) {
			top: 1%;
		}

		@media (min-width: 850px) {
			top: 1.8%;
		}



	}

	:global(.navCont) {
		background-image: linear-gradient(90deg, #0A1E34 30%, #000000 70%);
		background-size: cover;
		padding-bottom: 56px;
		clip-path: polygon(0 0, 100% 0, 100% 70%, 18% 100%, 0 77%);

		@media (max-width: 768px) {
			padding-bottom: 28px;
		}
	}




	:global(h3) {
		color: #000;
	}

	:global(.img-size) {
		@media (min-width: 500px) and (max-width: 768px) {
			width: 18vw;
		}

		@media (max-width: 500px) {
			width: 22vw;
		}
	}

	:global(.opacity) {
		opacity: 0.5;
	}

	:global(.grayColor) {
		color: #999999;
	}

	:global(.cursor-pointer) {
		cursor: pointer;
	}

	:global(.container) {
		@media (max-width: 575px) {
			max-width: 95% !important;
		}
	}

	:global(.get-price-button) {
		background: linear-gradient(#0A1E34, #0F3B59);
		border: #F6E51B;
		color: #fff;
		border-radius: 10px;

		@media (max-width: 768px) {
			font-size: 22px !important;
			width: 100%;
			padding: 10px 16px !important;
		}
	}

	:global(.header-images) {
		width: 100%;
	}

	:global(.headerImage) {
		width: 100%;
		min-height: 42rem;

		@media (max-width: 992px) {
			min-height: 12rem;
		}
	}

	:global(.about-us-header) {
		background-size: contain;
		width: 100%;
		margin-top: -106px;

		@media (max-width: 1200px) {
			margin-top: -90px;
		}

		@media (min-width: 768px) and (max-width: 992px) {
			margin-top: -65px;
		}

		@media (min-width: 500px) and (max-width: 767px) {
			margin-top: -41px;
		}

		@media (max-width: 500px) {
			margin-top: -30px;
		}

		:global(.about-text) {
			padding-bottom: 116px;
			margin-top: -215px;

			@media (min-width: 800px) and (max-width: 1100px) {
				margin-top: -157px;
			}

			@media (min-width: 500px) and (max-width: 800px) {
				margin-top: -135px;
			}

			@media (max-width: 500px) {
				margin-top: -92px;
			}

			@media (max-width: 767px) {
				padding-bottom: 50px;
			}
		}
	}

	:global(.aboutus-third) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		:global(p) {
			color: #000;
			line-height: 1.2;

			@media (max-width: 768px) {
				text-align: justify;
			}
		}

		:global(.about-one) {
			width: 50%;
		}

		:global(.about-two) {
			width: 50%;
			display: flex;
			justify-content: end;
			align-items: center;

			@media (max-width: 1200px) {
				:global(.logo-Image) {
					width: 80% !important;
				}
			}
		}

		:global(.about-three) {
			width: 50%;
			padding: 4.25rem;
			padding-top: 1.9rem;
			padding-left: 0;
		}

		:global(.about-four) {
			width: 50%;
			padding: 4.25rem;
			padding-top: 1.9rem;
			padding-right: 0;
		}

		@media (max-width: 768px) {
			flex-direction: column;

			:global(.about-one) {
				width: 100%;
				padding-bottom: 20px;
			}

			:global(.about-two) {
				width: 100%;
				justify-content: start;
				align-items: start;
				padding-bottom: 10px;
			}

			:global(.about-three) {
				width: 100%;
				padding: 0;
				padding-top: 20px;
			}

			:global(.about-four) {
				width: 100%;
				padding: 0;
				padding-top: 20px;
			}
		}
	}

	:global(.aboutus-forth-section) {
		background-size: contain;
		height: auto;
		width: 100%;

		:global(.staff) {
			width: 100%;
		}
	}

	:global(.aboutus-fifth-section) {
		background: rgb(0, 0, 0);

		:global(.aboutus-forth) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			:global(.about-three) {
				width: 50%;
				padding: 4.25rem;
				padding-top: 2.9rem;
				padding-left: 0;

				:global(p) {
					color: #fff;

					@media (max-width: 768px) {
						text-align: justify;
					}
				}
			}

			:global(.about-four) {
				width: 50%;
				padding: 4.25rem;
				padding-top: 2.9rem;
				padding-right: 0;

				:global(p) {
					color: #fff;

					@media (max-width: 768px) {
						text-align: justify;
					}
				}
			}

			@media (max-width: 768px) {
				flex-direction: column;

				:global(.about-three) {
					width: 100%;
					padding: 0;
					padding-top: 20px;
				}

				:global(.about-four) {
					width: 100%;
					padding: 0;
					padding-top: 20px;
				}
			}
		}

		:global(.fifth-footer) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			padding-top: 10px;
			margin-bottom: 20px;

			:global(.founded) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				p {
					color: #fff;
				}
			}

			@media (max-width: 520px) {
				flex-direction: column;
				gap: 20px;
			}
		}
	}

	:global(.blnk-pink) {
		background: #F6E51B;
		padding-top: 3.4vw;
		padding-bottom: 0.4vw;
		text-align: center;
		margin-bottom: -3px;

		@media (max-width: 767px) {
			:global(.px-5) {
				padding-left: 0 !important;
				padding-right: 0px !important;

				:global(.mx-5) {
					margin-left: 0 !important;
					margin-right: 0px !important;
				}
			}
		}
	}

	:global(.review) {
		background-color: white;
	}

	:global(.faq) {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: start;
	}

	:global(.ant-collapse) {
		background-color: white;
		border: none;
		min-height: 400px;
	}

	:global(.ant-collapse-content) {
		border-top: none;
	}

	:global(.display-3) {
		display: none;
	}

	:global(.imgDiv) {
		height: 500px;

		@media (max-width:425px) {
			height: 180px;
		}

		@media (min-width:425px) and (max-width:768px) {
			height: 280px;
		}
	}




}