.privacycontainer {
	position: relative;

	:global(p) {
		color: #000;
	}

	:global(.container_bottom) {
		padding-bottom: 100px !important;
	}

	:global(.back_link) {
		color: #000;
		font-weight: bold;
		text-decoration: none;
	}

	:global(h3) {
		color: #000;
		font-size: 35px;
	}

	:global(.opacity) {
		opacity: 0.5;
	}

	:global(.grayColor) {
		color: #999999;
	}

	:global(.cursor-pointer) {
		cursor: pointer;
	}


	:global(.heading) {
		font: bold;
		margin-top: 80px;
		@media (min-width: 992px) {
			font-size: 80px;
		}

		@media (min-width: 768px) and (max-width: 992px) {
			font-size: 60px;
		}

		@media (max-width: 767px) {
			font-size: 50px;
		}

		@media (max-width: 520px) {
			font-size: 2.8rem;
		}

		@media (max-width: 320px) {
			font-size: 1.8rem;
		}
	}
}