.productscontainer {
	position: relative;

	:global(.dropDownMenu) {
		position: absolute !important;
		top: 0.9%;
		right: 5%;
		z-index: 999;

		@media (max-width: 767px) {
			top: 0.2%;
		}
		@media (min-width: 768px) and (max-width: 992px) {
			top: 0.5%;
		}

		@media (max-width: 420px) {
			top: 0.1%;
		}

		@media (max-width: 320px) {
			top: 0%;
		}
	}

	:global(.navCont) {
		background-image: linear-gradient(90deg, #0A1E34 30%, #000000 70%);
		background-size: cover;
		padding-bottom: 56px;
		clip-path: polygon(0 0, 100% 0, 100% 70%, 18% 100%, 0 77%);

		@media (max-width: 768px) {
			padding-bottom: 28px;
		}
	}

	:global(.img-size) {
		@media (min-width: 500px) and (max-width: 768px) {
			width: 18vw;
		}
		@media (max-width: 500px) {
			width: 22vw;
		}
	}

	:global(.header-images) {
		width: 100%;
	}

	:global(.headerImage) {
		width: 100%;
		min-height: 42rem;
		@media (max-width: 992px) {
			min-height: 12rem;
		}

		@media (max-width: 400px) {
			min-height: 16rem;
		}
	}

	:global(.about-us-header) {
		background-size: contain;
		width: 100%;
		margin-top: -188px;

		@media (max-width: 1200px) {
			margin-top: -162px;
		}

		@media (min-width: 768px) and (max-width: 992px) {
			margin-top: -97px;
		}

		@media (min-width: 500px) and (max-width: 767px) {
			margin-top: -65px;
		}

		@media (max-width: 500px) {
			margin-top: -41px;
		}

		:global(.about-text) {
			padding-bottom: 120px;
			margin-top: -285px;

			@media (max-width: 1300px) {
				margin-top: -250px;
				padding-bottom: 80px;
			}

			@media (max-width: 992px) {
				padding-bottom: 115px;
			}

			@media (max-width: 767px) {
				margin-top: -183px;
				padding-bottom: 50px;
			}

			@media (max-width: 450px) {
				margin-top: -159px;
			}

			:global(.display-3) {
				@media (max-width: 450px) {
					font-size: 24px !important;
					margin-bottom: 0px !important;
				}
			}

			:global(.our-products-text) {
				font-size: 24px;
				line-height: 1.2;

				@media (max-width: 992px) {
					font-size: 18px;
					line-height: 1;
				}

				@media (max-width: 450px) {
					font-size: 16px;
				}
			}
		}
	}

	:global(.textSections) {
		:global(.txt) {
			color: #000;
			font-size: 2.9rem;
			line-height: 1.3;

			@media (max-width: 1200px) {
				font-size: 2.4rem;
			}

			@media (max-width: 992px) {
				font-size: 1.8rem;
			}

			@media (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
	}

	:global(.panels-sections) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 540px;
		margin-top: -30px;
		background: linear-gradient(90deg, #F6E51B, #FFD700);
		background-size: cover;
		clip-path: polygon(0% 0%, 80% 12%, 100% 2%, 100% 89%, 20% 100%, 0 89%);

		@media (min-width: 768px) and (max-width: 1000px) {
			clip-path: polygon(0% 0%, 80% 8%, 100% 2%, 100% 90%, 20% 100%, 0 92%);
		}

		@media (max-width: 768px) {
			clip-path: polygon(0% 2%, 80% 5%, 100% 2%, 100% 96%, 22% 100%, 0 96%);
			flex-direction: column;
			height: auto;
		}
		@media (max-width: 340px) {
			clip-path: polygon(0% 1%, 80% 5%, 100% 2%, 100% 97%, 26% 100%, 0 97%);
		}

		:global(.contents) {
			background-size: cover;
			width: 70%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 144px;
			text-align: end;

			@media (min-width: 768px) and (max-width: 1140px) {
				padding: 45px;
			}

			@media (max-width: 768px) {
				width: 100%;
				height: fit-content;
				padding: 0px 0px;
				height: fit-content;
				justify-content: start;
				margin-bottom: 20px;
			}

			@media (max-width: 340px) {
				height: 476px;
			}

			:global(.p1) {
				font-size: 2rem;
				color: #000;
				line-height: 1.2;
			}
			:global(.p2) {
				font-size: 22px;
				line-height: 1.2;
				color: #000;

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}

			:global(.logo) {
				width: 200px;
				margin-bottom: 10px;
			}

			:global(.givLogo) {
				@media (max-width: 768px) {
					width: 200px;
					margin-top: 30px;
				}
			}

			:global(.d-flex) {
				@media (max-width: 500px) {
					margin-top: 10px;
					gap: 0 !important;
					align-items: end !important;
					flex-direction: column !important;
				}
			}
		}

		:global(.blue-pink-panels) {
			width: 30%;
			height: 100%;
			display: flex;
			justify-content: end;
			align-items: center;

			@media (max-width: 768px) {
				width: 100%;
				justify-content: center;
				align-items: center;
				height: fit-content;
				padding-bottom: 27px;
				background: linear-gradient(90deg, #F6E51B, #FFD700);
				margin-top: 50px;
				height: 340px;
			}

			img {
				margin-right: -80px;
				height: 80%;

				@media (max-width: 1050px) {
					margin-right: -30px;
					width: 100%;
					height: auto;
				}

				@media (max-width: 768px) {
					height: 100%;
					width: auto;
					margin-right: 0px;
				}
			}
		}
	}

	:global(.battery-sections) {
		background-image: linear-gradient(90deg, #0A1E34 30%, #000000 70%);
		background-size: cover;
		height: 540px;
		display: flex;
		align-items: center;
		margin-top: -30px;
		clip-path: polygon(0 0%, 20% 11%, 100% 0%, 100% 90%, 80% 100%, 0 89%);

		@media (max-width: 992px) {
			height: 660px;
			clip-path: polygon(0 2%, 20% 9%, 100% 0%, 100% 93%, 80% 100%, 0 92%);
		}

		@media (max-width: 768px) {
			height: auto;
			clip-path: polygon(0 1%, 20% 4%, 100% 1%, 100% 97%, 80% 100%, 0 97%);
			margin-top: -22px;
			margin-bottom: 10px;
		}

		:global(.container) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			:global(.f1) {
				width: 33%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				height: 100%;

				@media (max-width: 768px) {
					width: 100%;
					margin-top: 20px;
				}

				:global(.Battery) {
					height: 95%;

					@media (max-width: 992px) {
						width: 100%;
						height: auto;
					}
				}
			}

			:global(.f2) {
				width: 65%;

				:global(.p1) {
					font-size: 2rem;
					line-height: 1.2;
				}
				:global(.p2) {
					font-size: 22px;
					line-height: 1.2;

					@media (max-width: 768px) {
						font-size: 16px;
					}
				}

				:global(.d-flex) {
					@media (max-width: 500px) {
						margin-top: 10px;
						gap: 0 !important;
						align-items: start !important;
						flex-direction: column !important;
					}
				}

				:global(.givLogo) {
					@media (max-width: 768px) {
						width: 208px;
						margin-top: 30px;
					}
				}

				@media (max-width: 768px) {
					width: 100%;
					margin-top: 2rem;
				}

				@media (min-width: 1180px) and (max-width: 1400px) {
					margin-top: 45px;
				}
			}

			@media (max-width: 768px) {
				flex-direction: column;
			}
		}
	}

	:global(.services-sections) {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin: 22px 0px;

		@media (max-width: 768px) {
			flex-direction: column;
			margin: 0px 0px;
			margin-top: 25px;
		}

		:global(.img-sec) {
			width: 50%;
			display: flex;
			justify-content: center;
			height: 100%;

			@media (max-width: 768px) {
				width: 100%;
			}

			:global(img) {
				@media (max-width: 992px) {
					width: 100%;
				}
			}
		}

		:global(.desc-sec) {
			width: 50%;

			@media (max-width: 768px) {
				width: 100%;
			}

			:global(h2) {
				font-weight: 700 !important;
			}
			:global(.para) {
				font-size: 22px;
				line-height: 1.2;
				color: #000;

				@media (max-width: 768px) {
					font-size: 16px;
					line-height: 1;
				}
			}
		}
	}

	:global(.Battery) {
		@media (max-width: 768px) {
			margin-left: 0 !important;
		}
		@media (max-width: 340px) {
			width: 90%;
		}
	}

	:global(.solarpanel) {
		@media (max-width: 768px) {
			margin-left: 0 !important;
		}
		@media (max-width: 340px) {
			width: 100%;
		}
	}
}
