.surveyContainer {
	position: relative;
	padding: 70px 70px 50px 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 600px) {
		padding: 30px 30px 20px 30px;
		// min-height: 400px;
		height: fit-content;
		justify-content: start;
	}
	@media (max-width: 425px) {
		// padding: 30px 25px;
		// min-height: 400px;
		height: fit-content;
		// justify-content: start;
	}

.fourteenDrawMapParentDiv{
	.backButtonDiv{
		@media (min-width:451px) {
			
			padding: 0px 30px 0px 30px;
		}
		height: 60px;
	}
}

	.questionHeader {
		font-weight: 600;
		font-size: 49px;
		font-family: 'Montserrat';
		display: flex;
		justify-content: center;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 24px;
			justify-content: flex-start;
		text-align: start;

		}
	}

	.questionHeaderLite {
		@extend .questionHeader;

		@media (max-width: 600px) {
			font-size: 20px;
		}
	}

	.questionText {
		font-weight: 300;
		font-size: 34px;
		font-family: 'Roboto';
		display: flex;
		justify-content: center;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 16px;
			justify-content: flex-start;
			text-align: left;
		}
	}

	.SorryBottomText {
		font-weight: 300;
		font-size: 24px;
		font-family: "Roboto";
		display: flex;
		justify-content: center;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 20px;
			justify-content: flex-start;
			text-align: left;
		}
	}


	.answerDiv {
		display: flex;
		row-gap: 10px;
		margin-top: 60px;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 130px;
		z-index: 1;

		@media (max-width: 600px) {
			flex-direction: column;
			row-gap: 30px;
			margin-top: 5px;
			justify-content: center;
			align-items: center;
		}
	}

	.answerDiv3 {
		@extend .answerDiv;
		column-gap: 50px;
	}

	.answerButtonDiv {
		height: 60px;
		border-radius: 50px;
		padding: 10px;
		align-content: center;
		background-color: white;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 330px;
		margin-top: 10px;
		margin-bottom: 40px;
		z-index: unset;
		cursor: pointer;

		@media (max-width: 600px) {
			width: 100%;
			justify-content: flex-start;
			margin-top: 0px;
			margin-bottom: 0px;

		}
	}

	.answerButtonDiv::before {
		content: "";
		position: absolute;
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
		z-index: -1;
		border-radius: 80px;
		background: rgba(15, 59, 89, 0.1);
		transition: background 1s ease;
		cursor: pointer;
	}

	@media (min-width: 769px) {

		.answerButtonDiv:hover::before,
		.answerButtonDiv:active::before {
			background: linear-gradient(to right, #0A1E34, #0F3B59);
		}
	}

	.answerButtonDiv:hover::before,
	.answerButtonDiv:active::before {
		cursor: pointer;
	}

	.answerButtonDivSelected {
		@extend .answerButtonDiv;

		&::before {
			background: linear-gradient(to right, #0A1E34, #0F3B59);
		}
	}

	.infoWrapper {
		display: flex;
		justify-content: space-evenly;
	}

	.infoText {
		font-weight: 300;
		font-size: 13px;
		font-family: 'Roboto';

		@media (max-width: 768px) {
			font-size: 10px;
		}
	}

	.infoDiv {
		height: 90px;
		border-radius: 50px;
		padding: 10px;
		align-content: center;
		background-color: white;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 400px;
		margin-top: 10px;
		margin-bottom: 40px;
		border: 8px solid rgba(15, 59, 89, 0.1);

		@media (max-width: 600px) {
			width: 100%;
			justify-content: flex-start;
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 12px !important;

		}
		@media (max-width: 400px) {
			font-size: 8px !important;
		}
	}

	// .infoDiv::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: -8px;
	// 	left: -8px;
	// 	right: -8px;
	// 	bottom: -8px;
	// 	z-index: -1;
	// 	border-radius: 80px;
	// 	background: rgba(15, 59, 89, 0.1);
	// 	transition: background 1s ease;
	// 	cursor: pointer;
	// }

	.circleButton {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: rgba(15, 59, 89, 0.1);
		transition: transform 0.3s ease, background-color 0.3s ease;
		cursor: pointer;
	}

	.inputWithDot {
		position: relative;
		// display: flex;
		align-items: center;
	}

	.inputDot {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: rgba(15, 59, 89, 0.1);
		transition: transform 0.3s ease, background-color 0.3s ease;
		cursor: pointer;
		left: 16px;
		position: absolute;
	}

	.inputDotSelected {
		@extend .inputDot;
		background-color: rgba(15, 59, 89, 0.1);
		transition: transform 0.3s ease, background-color 0.3s ease;
		background-color: #0A1E34;
	}

	@media (min-width: 769px) {
		.answerButtonDiv:hover .circleButton {
			background-color: #0A1E34;
		}
	}

	.circleButtonSelected {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: rgba(15, 59, 89, 0.1);
		transition: transform 0.3s ease, background-color 0.3s ease;
		background-color: #0A1E34;
		cursor: pointer;
	}


	.answerText {
		font-family: 'Montserrat';
		font-size: 26px;
		margin-right: 22px;

		@media (max-width: 600px) {
			font-size: 18px;

		}
	}

	.textWrapper {
		flex-grow: 1;
		text-align: center;
	}


	.backButtonDiv {
		display: flex;
		flex-direction: row;
		top: 40px;
		gap: 5px;
		height: 100px;
		align-items: center;

		border-radius: 60px;

		@media (max-width: 600px) {
			display: flex;
		}
	}

	.backButtonDivSmall {
		@extend .backButtonDiv;
		height: 60px
	}

	.backButtonDivHelp {
		
		@extend .backButtonDiv;
		justify-content: center;
		@media (max-width:768px) {
		justify-content: start;
			
		}
	}

	.backButtonDiv:hover {
		transform: scale(1.1);
		transition: 0.5s;
		border: 20px #0F3B59;
		cursor: pointer;
	}

	.backButtonTextLight {
		font-weight: 300;
		font-size: 15px;
		font-family: 'Roboto';

		@media (max-width: 600px) {
			font-size: 11px;
		}
	}

	.backButtonTextDark {
		font-weight: 300;
		font-size: 15px;
		font-family: 'Montserrat';

		@media (max-width: 600px) {
			font-size: 11px;
		}
	}

	.pinTextLightResponsive {
		@extend .backButtonTextLight;
		font-size: 15px;

		@media (max-width: 600px) {
			font-size: 11px;
		}
	}

	.pinTextDarkResponsive {
		@extend .backButtonTextDark;
		font-size: 15px;

		@media (max-width: 600px) {
			font-size: 11px;
		}
	}

	.backIcon {
		width: 35px;
		height: auto;
		padding-inline-end: 5px;
	}

	.questionIcon {
		width: 35px;
		height: auto;
		padding-inline-end: 5px;
	}

	.inputFormDiv {
		display: flex;
		margin-top: 60px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 10px;

		@media (max-width: 600px) {
			// flex-direction: column;
			// row-gap: 30px;
			margin-top: 5px;
		}
	}

	.skipThisPart {
		font-weight: 300;
		font-size: 20px;
		font-family: 'Roboto';
		color: #202520;
		cursor: pointer;
		margin-top: 10px;
		text-decoration: underline;
		text-align: center;
		
		@media (max-width: 600px) {
			margin-bottom: 10px;
			text-align: left;
		font-size: 13px;

		}
	}

	.drawTextAndTxtDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	.drawBottomText {
		@extend .questionText;
		font-size: 22px;
		text-align: center;
		width: 90%;
		
		@media (max-width: 1000px) {
			width: unset !important;
		}
		@media (max-width: 375px) {
			font-size: 12px;
		}
		@media (min-width:376px) and (max-width: 420px) {
			font-size: 13px;
		}
		@media (min-width:421px) and (max-width: 600px) {
			font-size: 15px;
		}
	}

	.StartDrawButtonDiv {
		// height: 50px;
		height: 60px;
		border-radius: 50px;
		background: linear-gradient(to right, #0A1E34, #0F3B59);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		border: none;
		width: 200px;
		align-content: center;
		cursor: pointer;
		justify-content: center;

		@media (max-width: 600px) {
			height: 40px;
			width: 150px;
			margin-top: 0px;
			margin-bottom: 0px;

		}
	}

	.nextButtonTextDark {
		font-weight: bold;
		font-size: 22px;
		font-family: 'Montserrat';
	}

	.startDrawButtonTxt {
		font-weight: bold;
		font-size: 22px;
		font-family: 'Montserrat';

		@media (max-width: 600px) {
			font-size: 18px;
		}
	}

	.nextButtonDiv {
		// height: 50px;
		height: 60px;
		border-radius: 50px;
		background: linear-gradient(to right, #0A1E34, #0F3B59);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		border: none;
		width: 180px;
		align-content: center;
		cursor: pointer;
		justify-content: center;

		@media (max-width: 600px) {
			min-width: 100px;
			width: auto;
			padding: 0px 28px;
			margin-top: 0px;
			margin-bottom: 0px;

		}
	}

	.nextButtonDiv:hover {
		transform: scale(1.04);
		transition: 0.5s;
		cursor: pointer;
	}
	.formDflexRow {
		flex-direction: row;
		align-items: baseline;
	}


	.nextButtonDiv1 {
		// height: 50px;
		height: 60px;
		border-radius: 50px;
		background: linear-gradient(to right, #0A1E34, #0F3B59);
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translate(-50%, -2%);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		border: none;
		width: 180px;
		align-content: center;
		cursor: pointer;
		justify-content: center;
		z-index: 999;

		@media (max-width: 600px) {
			min-width: 100px;
			width: auto;
			padding: 0px 28px;
			margin-top: 0px;
			margin-bottom: 0px;

		}
	}






	.ant-select-selection-search {
		border: none !important;
	}

	.inputWrapper {
		width: 500px;
		display: flex;
		gap: 10px;
		position: relative;

		.numberInput {
			width: 460px;
			height: 60px;
			border-radius: 50px;
			padding: 10px 20px 10px 10px;
			font-size: 16px;
			border: 5px solid rgba(15, 59, 89, 0.1);
			background-color: white;
			transition: border-color 0.3s ease;
			margin-bottom: 5px;

			&:focus {
				outline: none;
				border-color: #0A1E34;
			}

			&:hover {
				border-color: #0F3B59;

				&+.circleButtonFormDiv {
					background-color: #0A1E34;
				}
			}

			@media (max-width: 600px) {
				width: 100%;
				margin-top: 0px;
				margin-bottom: 0px;
				padding-left: 2px;
			}
		}

		.circleButtonFormDiv {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: rgba(15, 59, 89, 0.1);
			transition: transform 0.3s ease, background-color 0.3s ease;
			cursor: pointer;
			position: absolute;
			left: 10px;
			top: 18px;

			&:hover {
				background-color: #0A1E34;
				transition: 0.5s;
			}
		}

		.circleButtonSelectedFormDiv {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: #0A1E34;
			transition: transform 0.3s ease, background-color 0.3s ease;
			cursor: pointer;
			position: absolute;
			left: 10px;
			top: 18px;
		}

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	.energyInputWrapper {
		@extend .inputWrapper;
		align-items: unset;
	}

	.roofImageSurvey {
		width: 55px;
		height: auto;
		margin-right: 30px;
		-webkit-padding-end: 5px;
		padding-inline-end: 5px;
	}

	.roofMapImgParentDiv {
		display: flex;
		row-gap: 10px;
		justify-content: center;
		-moz-column-gap: 130px;
		column-gap: 20px;
		flex-direction: row;
		align-items: center;


		@media (max-width: 1000px) {
			flex-direction: column;
		}

	}

	.roofDrawMapDiv {
		background: rgba(15, 59, 89, 0.05);
		border-radius: 90px;
		display: flex;
		flex-direction: column-reverse;
		padding: 20px;
		justify-content: space-between;
		width: 300px;
		height: 370px;
		align-items: center;

		@media (max-width: 1000px) {
			flex-direction: row-reverse;
			align-items: center;
			gap: 5px;
			height: 150px;
			width: 100%;
			border-radius: 20px;
		}

		@media (max-width: 600px) {
			padding: 10px;
			height: 100px;
		}
	}

	.drawMapImgDiv {
		width: 75%;
	}

	.roofDrawMapText {
		font-weight: 300;
		font-size: 20px;
		font-family: 'Roboto';

		@media (max-width: 1000px) {
			font-size: 19px;
		}

		@media (max-width: 600px) {
			font-size: 15px;
		}
	}

	.drawMapDiv {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.roofDrawMapImg {
		height: auto;
		width: 250px;

		@media (max-width: 1000px) {
			width: 140px;
		}

		@media (max-width: 600px) {
			width: 100px;
		}
	}

	.locationInfoBox {
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			flex-wrap: nowrap
		}
	}

	.HelpAndBackDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.pinLocationBottomDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.backButtonDiv{
			display: flex;
			
			justify-content: center;
			@media (max-width:600px) {
			padding-top: 10px;
				// padding: 0px 30px 0px 30px;
				justify-content: flex-start;

			}
		}
	}


	.crosshair {
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		pointer-events: none;

		.verticalLine {
			border-left: dashed 2px #fff;
			height: 100%;
			top: 0%;
			left: 50%;
			position: absolute;
			transform: rotate(0deg) translateX(-50%);
			opacity: 0.8;
		}

		.horizontalLine {
			border-bottom: dashed 2px #fff;
			top: 50%;
			position: absolute;
			height: 0px;
			width: 100%;
			transform: translateY(-50%);
			overflow: hidden;
			opacity: 0.8;
		}

		.pin {
			position: absolute;
			background: #0A1E34;
			height: 12px;
			width: 12px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 10px;
		}
	}

	.designToolMap {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden !important;

		border-radius: 20px;
	}

	.crsrPointer {
		cursor: none !important;
	}

	.googlemapSize {
		height: 65vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;

		@media (max-width: 768px) {
			height: 45vh;
			border-radius: 20px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.directionMapDraw {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		pointer-events: none;
		z-index: 10;

		img {
			z-index: 20;
		}
	}

	.north {
		@extend .directionMapDraw;
		top: 0%;
		left: 50%;
		transform: translate(-50%);
		padding-top: 10px;

		img {
			transform: rotate(-90deg);
		}
	}

	.east {
		@extend .directionMapDraw;
		top: 50%;
		right: 0%;
		transform: translate(-0%, -50%);
		padding-right: 10px;
		flex-direction: row;

		img {
			transform: rotate(0deg);
		}
	}

	.south {
		@extend .directionMapDraw;
		left: 50%;
		bottom: 0%;
		transform: translate(-50%);
		padding-bottom: 10px;

		img {
			transform: rotate(90deg);
		}
	}

	.west {
		@extend .directionMapDraw;
		left: 0%;
		top: 50%;
		transform: translate(-0%, -50%);
		padding-left: 10px;
		flex-direction: row;

		img {
			transform: rotate(180deg);
		}
	}
}
.padding32{
	padding-left: 42px  !important; 
}
.surveyContainerMobileTwelve{
	@media (max-width: 600px) {
		padding: 0px 30px 8px 30px !important;
	}
}
.removeExtraPaddingThirteen{
	padding-top: 0px !important;
}
.getPriceBbutton {
	background: linear-gradient(#0A1E34, #0F3B59);
	border: #0A1E34;
	color: #fff;
	border-radius: 10px;
	font-size: 25px;
	font-weight: bold;
	padding: 16px;
	width: 300px;

	@media (max-width: 768px) {
		font-size: 22px !important;
		width: 270px;
		padding: 10px 16px !important;
	}

	@media (max-width: 400px) {
		font-size: 20px !important;
	}
}

.mapContainer {
	// @extend .surveyContainer;
	height: 100% !important;
	width: 100% !important;
	padding: 0 !important;
}

.padding0 {
	padding: 0 !important;
}

.grayColorText {
	color: #999999;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 20px;

	@media (max-width: 600px) {
		font-size: 14px;
	}

	.roofDrawBackButtonParentDiv{
		padding: 0px 30px 0px 30px;
	}
}

.answerLongDiv {
	display: flex;
	row-gap: 10px;
	margin-top: 60px;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 130px;
	z-index: 1;

	@media (max-width: 600px) {
		flex-direction: column;
		row-gap: 30px;
		margin-top: 5px;
		justify-content: center;
		align-items: center;
	}
}

.answerLongDiv3 {
	@extend .answerLongDiv;
	column-gap: 50px;
}

.answerButtonLongDiv {
	height: 60px;
	border-radius: 50px;
	padding: 10px;
	align-content: center;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center !important;
	gap: 10px;
	width: 560px;
	margin-top: 10px;
	margin-bottom: 40px;
	z-index: unset;
	cursor: pointer;

	@media (max-width: 600px) {
		width: 100%;
		justify-content: flex-start;
		margin-top: 0px;
		margin-bottom: 0px;

	}
}

.answerButtonLongDiv::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -8px;
	right: -8px;
	bottom: -8px;
	z-index: -1;
	border-radius: 80px;
	background: rgba(15, 59, 89, 0.1);
	transition: background 1s ease;
	cursor: pointer;
}

@media (min-width: 769px) {

	.answerButtonLongDiv:hover::before,
	.answerButtonLongDiv:active::before {
		background: linear-gradient(to right, #0A1E34, #0F3B59);
	}
}

.answerButtonLongDiv:hover::before,
.answerButtonLongDiv:active::before {
	cursor: pointer;
}

.answerButtonLongDivSelected {
	@extend .answerButtonLongDiv;

	&::before {
		background: linear-gradient(to right, #0A1E34, #0F3B59);
	}
}

.SecondText {
	font-weight: 300;
	font-size: 25px;
	font-family: 'Roboto';
	display: flex;
	justify-content: center;
	text-align: center;

	@media (max-width: 600px) {
		font-size: 15px;
		justify-content: flex-start;
		text-align: left;
	}
}