.thankyouContainer {
	position: relative;
    background-color: #0F3B59;
    :global(.aes-footer){
        background: #fff !important;
    }
    :global(.ftr-pink){
        display: none !important;
    }
	:global(.dropDownMenu) {
		position: absolute !important;
		top: .3%;
		right: 5%;
		z-index: 999;

	
		@media (min-width: 320px) {
			top: 0.6%;
		}
		@media (min-width: 558px) {
			top: .8%;
		}
		@media (min-width: 758px) {
			top: 1%;
		}
		@media (min-width: 850px) {
			top: 1.8%;
		}



	
	}

	:global(.navCont) {
		background-image: linear-gradient(90deg, #0A1E34 30%, #000000 70%);
		background-size: cover;
		padding-bottom: 56px;
		clip-path: polygon(0 0, 100% 0, 100% 70%, 18% 100%, 0 77%);

		@media (max-width: 768px) {
			padding-bottom: 28px;
		}
	}




	:global(h3) {
		color: #000;
	}

	:global(.img-size) {
		@media (min-width: 500px) and (max-width: 768px) {
			width: 18vw;
		}
		@media (max-width: 500px) {
			width: 22vw;
		}
	}

	:global(.opacity) {
		opacity: 0.5;
	}

	:global(.grayColor) {
		color: #999999;
	}

	:global(.cursor-pointer) {
		cursor: pointer;
	}

	:global(.container) {
		@media (max-width: 575px) {
			max-width: 95% !important;
		}
	}

	:global(.get-price-button) {
		background: linear-gradient(#0A1E34, #0F3B59);
		border: #F6E51B;
		color: #fff;
		border-radius: 10px;

		@media (max-width: 768px) {
			font-size: 22px !important;
			width: 100%;
			padding: 10px 16px !important;
		}
	}

	:global(.header-images) {
		width: 100%;
	}
	:global(.headerImage) {
		width: 100%;
		min-height: 42rem;
		@media (max-width: 992px) {
			min-height: 12rem;
		}
	}

	:global(.about-us-header) {
		background-size: contain;
		width: 100%;
		margin-top: -106px;

		@media (max-width: 1200px) {
			margin-top: -90px;
		}

		@media (min-width: 768px) and (max-width: 992px) {
			margin-top: -65px;
		}

		@media (min-width: 500px) and (max-width: 767px) {
			margin-top: -41px;
		}

		@media (max-width: 500px) {
			margin-top: -30px;
		}

		:global(.about-text) {
			padding-bottom: 116px;
			margin-top: -215px;

			@media (min-width: 800px) and (max-width: 1100px) {
				margin-top: -157px;
			}
			@media (min-width: 500px) and (max-width: 800px) {
				margin-top: -135px;
			}
			@media (max-width: 500px) {
				margin-top: -92px;
			}

			@media (max-width: 767px) {
				padding-bottom: 50px;
			}
		}
	}

	:global(.aboutus-third) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		:global(p) {
			color: #000;
			line-height: 1.2;

			@media (max-width: 768px) {
				text-align: justify;
			}
		}

		:global(.about-one) {
			width: 50%;
		}
		:global(.about-two) {
			width: 50%;
			display: flex;
			justify-content: end;
			align-items: center;

			@media (max-width: 1200px) {
				:global(.logo-Image) {
					width: 80% !important;
				}
			}
		}
		:global(.about-three) {
			width: 50%;
			padding: 4.25rem;
			padding-top: 1.9rem;
			padding-left: 0;
		}
		:global(.about-four) {
			width: 50%;
			padding: 4.25rem;
			padding-top: 1.9rem;
			padding-right: 0;
		}

		@media (max-width: 768px) {
			flex-direction: column;

			:global(.about-one) {
				width: 100%;
				padding-bottom: 20px;
			}
			:global(.about-two) {
				width: 100%;
				justify-content: start;
				align-items: start;
				padding-bottom: 10px;
			}
			:global(.about-three) {
				width: 100%;
				padding: 0;
				padding-top: 20px;
			}
			:global(.about-four) {
				width: 100%;
				padding: 0;
				padding-top: 20px;
			}
		}
	}

	:global(.aboutus-forth-section) {
		background-size: contain;
		height: auto;
		width: 100%;

		:global(.staff) {
			width: 100%;
		}
	}

	:global(.aboutus-fifth-section) {
		background: rgb(0, 0, 0);

		:global(.aboutus-forth) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			:global(.about-three) {
				width: 50%;
				padding: 4.25rem;
				padding-top: 2.9rem;
				padding-left: 0;

				:global(p) {
					color: #fff;
					@media (max-width: 768px) {
						text-align: justify;
					}
				}
			}
			:global(.about-four) {
				width: 50%;
				padding: 4.25rem;
				padding-top: 2.9rem;
				padding-right: 0;

				:global(p) {
					color: #fff;
					@media (max-width: 768px) {
						text-align: justify;
					}
				}
			}

			@media (max-width: 768px) {
				flex-direction: column;

				:global(.about-three) {
					width: 100%;
					padding: 0;
					padding-top: 20px;
				}
				:global(.about-four) {
					width: 100%;
					padding: 0;
					padding-top: 20px;
				}
			}
		}

		:global(.fifth-footer) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			padding-top: 10px;
			margin-bottom: 20px;

			:global(.founded) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				p {
					color: #fff;
				}
			}

			@media (max-width: 520px) {
				flex-direction: column;
				gap: 20px;
			}
		}
	}

	:global(.blnk-pink) {
		background: #F6E51B;
		padding-top: 3.4vw;
		padding-bottom: 0.4vw;
		text-align: center;
		margin-bottom: -3px;

		@media (max-width: 767px) {
			:global(.px-5) {
				padding-left: 0 !important;
				padding-right: 0px !important;

				:global(.mx-5) {
					margin-left: 0 !important;
					margin-right: 0px !important;
				}
			}
		}
	}
    :global(.mssageContainer)
    {
        margin: 0;
		margin-top: 80px;
        padding: 0;
        background-color: #0F3B59;
        z-index: 10;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;

    }
    :global(.thankyouContainer)
    {
        display: flex;
        flex-direction: column;
        
        background: white;
        border-radius: 80px 80px 0px 0px;
        width: 85%;

        min-height: 300px;
        padding: 45px;
        @media (min-width:300px) {

        border-radius: 30px 30px 0px 0px;
        padding: 20px 12px 0px 12px ;
            
        }
        @media (min-width:800px) {
        width: 75%;
		padding: 30px 26px 0px 26px;
		border-radius: 70px 70px 0px 0px;
		
            
        }
    }
    :global(.thankyouMessageContainer)
    {
        display: flex;
        align-items: center;
        position: relative;
        
    }
    :global(.thankyouMessageSubContainer1)
    {
        width: 70%;
        display: flex;
        align-items: center;
    
        
    }
    :global(.thankyouMessageSubContainer2)
    {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;

        @media (min-width:300px) {
            img{
                width: 45%;
            }
        }
    }
    :global(.thankyouMessage)
    {
        font-size: 54px;
        color: #0F3B59;	
        font-weight: 600;
        overflow-wrap: break-word;
@media (max-width:1234px) {
    font-size:52px;
    
}
@media (min-width:300px) {
    font-size:13px;
    
}
@media (min-width:370px) {
    font-size:15px;
    
}
@media (min-width:434px) {
    font-size:19px;
    
}
@media (min-width:536px) {
    font-size:23px;
    
}
@media (min-width:648px) {
    font-size:28px;
    
}
@media (min-width:782px) {
    font-size:31px;
    
}
@media (min-width:969px) {
    font-size:38px;
    
}
@media (min-width:1184px) {
    font-size:50px;
	line-height: 1.3;
    
}
    }
    :global(.message2)
    {
        flex-direction: column;
        display: flex;
        gap:14px;
		@media (min-width:300px) {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		@media (min-width:600px) {
			margin-top: 10px;
			margin-bottom: 50px;
		}
		@media (min-width:800px) {
			margin-top: 20px;
			margin-bottom: 60px;
			gap: 16px;

		}
		@media (min-width:900px) {
			margin-top: 20px;
			margin-bottom: 60px;
			gap: 18px;
		}
		@media (min-width:1000px) {
			margin-top: 25px;
			margin-bottom: 80px;
			gap: 20px;

		}
        :global(.message21)
        {
        font-size: 11px;
        @media (min-width:300px) {
            font-size:10px;
			
            
        }
        @media (min-width:370px) {
            font-size:11px;
            
        }
        @media (min-width:434px) {
            font-size:14px;
            
        }
        @media (min-width:536px) {
            font-size:15px;
            
        }
        @media (min-width:648px) {
            font-size:17px;
            
        }
        @media (min-width:782px) {
            font-size:20px;
            
        }
        @media (min-width:969px) {
            font-size:23px;
            
        }
        @media (min-width:1184px) {
            font-size:29px;
            
        }
        }
        :global(.message22)
        {
        font-size: 8px ;
        @media (min-width:300px) {
            font-size:8px;
            
        }
     
        @media (min-width:434px) {
            font-size:10px;
            
        }
     
        @media (min-width:648px) {
            font-size:12px;
            
        }
        @media (min-width:782px) {
            font-size:15px;
            
        }
        @media (min-width:969px) {
            font-size:18px;
            
        }
        @media (min-width:1184px) {
            font-size:22px;
            
        }
        }
        :global(.message23)
        {
            font-size: 8px ;
            @media (min-width:300px) {
                font-size:8px;
                
            }
         
            @media (min-width:434px) {
                font-size:10px;
                
            }
         
            @media (min-width:648px) {
                font-size:12px;
                
            }
            @media (min-width:782px) {
                font-size:15px;
                
            }
            @media (min-width:969px) {
                font-size:18px;
                
            }
            @media (min-width:1184px) {
                font-size:22px;
                
            }
            }
    }
    :global(.links)
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 120px;
		@media (min-width:500px) {
			margin-top: 10px;
			margin-bottom: 50px;
		}
		@media (min-width:600px) {
			margin-top: 10px;
			margin-bottom: 50px;
		}
		@media (min-width:800px) {
			margin-top: 20px;
			margin-bottom: 60px;
		}
		@media (min-width:900px) {
			margin-top: 20px;
			margin-bottom: 60px;
		}
		@media (min-width:1000px) {
			margin-top: 25px;
			margin-bottom: 80px;
		}
        :global(.div1)
        {
            min-width: 40%;
            min-height: 60px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            gap: 6px;
            background-color: #efefef;
			@media (min-width:500px) {
				min-height: 100px;
			}
			@media (min-width:800px) {
				min-height: 120px;
			}
            :global(.connectwithus){
                font-size: 11px;
                font-weight: 600;
				@media (min-width:500px) {
					font-size:18px;
				}
				@media (min-width:600px) {
					font-size:20px;
				}
				@media (min-width:800px) {
					font-size:20px;
				}
				@media (min-width:900px) {
					font-size:22px;
				}
				@media (min-width:1000px) {
					font-size:24px;
				}
            }
            :global(.sociallinks)
            {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                img{
                    width: 15px;
                }
				@media (min-width:500px) {
					gap: 10px;
					img{
						width: 18px;
					}
				}
				@media (min-width:600px) {
					gap: 10px;
					img{
						width: 24px;
					}
				}
				@media (min-width:800px) {
					img{
						width: 28px;
					}
				}
				@media (min-width:900px) {
					img{
						width: 30px;
					}
				}
				@media (min-width:1000px) {
					img{
						width: 34px;
					}
				}

            }
        }
        :global(.div2)
        {
			min-width: 40%;

            min-height: 60px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            padding-top: 4px;
            gap: 4px;
            background-color: #efefef;
			@media (min-width:500px) {
				min-height: 100px;
			}
			@media (min-width:800px) {
				min-height: 120px;
			}
            :global(.visitourwebsite){
                font-size: 11px ;
                font-weight: 600;
				@media (min-width:500px) {
					font-size:18px;
				}
				@media (min-width:600px) {
					font-size:20px;
				}
				@media (min-width:800px) {
					font-size:20px;
				}
				@media (min-width:900px) {
					font-size:22px;
				}
				@media (min-width:1000px) {
					font-size:24px;
				}
            }
            :global(.visitbutton){
                width: 90px;
                height: 20px;
                border-radius: 6px;
                text-align: center;
                display: flex;
                font-size: 10px ;
                justify-content: center;
                align-items: center;
                background-color: #F6E51B;
				@media (min-width:500px) {
					width: 100px;
					height: 24px;
					font-size: 18px;

				}
				@media (min-width:600px) {
					width: 120px;
					height: 28px;
					font-size: 20px;
				}
				@media (min-width:800px) {
					width: 140px;
					height: 32px;
					font-size: 20px;

				}
				@media (min-width:900px) {
					width: 150px;
					height: 34px;
					font-size: 22px;

				}
				@media (min-width:1000px) {
					width: 160px;
					height: 38px;
					font-size: 24x;

				}
            }
        }
    }

}
