.saveEstimationProgressPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    backdrop-filter: blur(16px);
    z-index: 2500;
    // margin: 10px 0px;

    @media screen and (max-width: 820px) {
        // top: -235px;
    }

    @media screen and (max-width: 768px) {
        // top: -155px;
    }

    @media screen and (max-width: 430px) {
        // top: -100px;
    }

    @media screen and (max-width: 414px) {
        // top: -84px;
    }

    @media screen and (max-width: 375px) {
        top: -0px;
    }

    @media screen and (max-width: 360px) {
        // top: -20px;
    }

    input {
        outline: none;
        border: 0px;
        border-radius: 8px;
        // padding: 8px 24px;
        padding: 16px 24px;
        width: 100%;

        @media (max-width: 1024px) {
            padding: 10px 20px;
        }

        // @media (max-width: 768px) {
        //     padding: 10px 20px;
        // }
        @media (max-width: 576px) {
            padding: 6px 20px;
        }

        @media (max-width: 430px) {
            padding: 10px 20px;
        }

        @media (max-width: 375px) {
            padding: 8px 20px;
        }
    }

    label {
        letter-spacing: 1px;
    }

    .transparentContainer {
        width: 100vw;
        // max-height: 786px;
        max-height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;
        overflow: auto;
        // width: 100vw;
        // // height: 680px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // overflow: auto;
        // position: absolute;
        // top: calc(100% - 90%);

        @media screen and (max-width: 1024px) {
            max-height: 680px;
        }

        @media screen and (max-width: 776px) {
            // height: 690px;
        }

        @media screen and (max-width: 430px) {
            // max-height: calc(100% - 10px);
        }

        @media screen and (max-width: 414px) {
            // max-height: calc(100% - 197px);
        }

        @media screen and (max-width: 375px) {
            max-height: 650px;
        }

    }

    .dialogBox {
        background-color: rgba(15, 59, 89, 0.05);
        // width: 25vw;
        max-width: 580px;
        // max-height: 650px;
        margin-inline: 12px;
        border: 2px solid #0A1E34;
        border-radius: 16px;
        overflow-y: auto;
        ;
        height: fit-content;
        max-height: calc(100% - 10px);
        margin: auto 5px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%) !important;
    }

    .contentSection {
        display: flex;
        flex-direction: column;
        // gap: 10px;
        // margin: 44px 36px;
        gap: 10px;
        margin: 10px 36px 20px 36px;
        // height: auto;

        @media (max-width: 1050px) {
            margin: 10px 36px;
        }

        @media (max-width: 1024px) {
            margin: 20px 36px;
        }

        // @media (max-width: 768px) {
        //     margin: 22px 36px;
        // }

        @media (max-width: 511px) {
            margin: 20px 36px;
            // margin: 34px 28px;
        }

        @media (max-width: 435px) {
            margin: 10px 36px;
            // margin: 34px 28px;
        }

        @media (max-width: 420px) {
            margin: 10px 36px;
            // margin: 34px 28px;
        }
    }

    .saveEstimate {
        color: #000;
        font-size: 41px;
        // font-size: 40px;
        font-weight: 700;
        // line-height: 1;
        line-height: 45px;

        @media (max-width: 576px) {
            font-size: 27px;
        }

        @media screen and (max-width: 430px) {
            line-height: 32px;
        }

        @media (max-width: 368px) {
            font-size: 22px;
        }

        @media (max-width: 347px) {
            font-size: 20px;
        }

        @media (max-width: 325px) {
            font-size: 18px;
        }

    }

    .descriptionText1 {
        color: #666;
        font-size: 18px;
        // font-size: 16px;
        font-weight: 600;
        // line-height: 1.2;
        line-height: 24px;
        letter-spacing: 0.5px;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media (max-width: 576px) {
            font-size: 14px;
        }

        @media screen and (max-width: 430px) {
            line-height: 17px;
        }

        @media screen and (max-width: 347px) {
            line-height: 14px;
            font-size: 12px;
        }

        @media screen and (max-width: 325px) {
            font-size: 10px;
        }

    }


    .descriptionText2 {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        // font-size: 16px;
        line-height: 2;
        letter-spacing: 0.5px;

        @media (max-width: 576px) {
            font-size: 14px;
        }
    }

    .descriptionText3 {
        color: #666;
        // font-size: 9px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.2;

        @media (max-width: 430px) {
            font-size: 10px;
        }
    }

    .buttonSection {
        display: flex;
        justify-content: space-between;
        gap: 18px;

        @media (max-width: 576px) {
            flex-direction: column;
        }

        @media screen and (max-width: 430px) {
            gap: 10px;
        }
    }

    .buttonClass {
        border: none;
        width: 100%;
        color: #000;
        border-radius: 8px;
        // padding-block: 8px;
        padding-block: 10px;
        // font-size: 16px;
        font-size: 16px;
        font-weight: 600;
        line-height: 2;
        cursor: pointer;

        @media (max-width: 1024px) {
            padding-block: 8px;
        }

        // @media (max-width: 768px) {
        //     padding-block: 10px;
        // }
        @media (max-width: 576px) {
            font-size: 14px;
            padding-block: 6px;
        }
    }

    .blueBG {
        background-color: #0A1E34;
        color: #fff !important;
    }

    .greyBG {
        background-color: #cacdd9;
    }

}


.side_bar {}